<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Database of Zinc Binding Sites">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/gif" href="/static/images/favicon.png">
  <title>{% block title %}{% endblock %} - zincDB</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito'
   rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Cinzel'
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
  {% block css %}{% endblock %}
  <!--analytics-->
</head>
<body>
  <nav>
    <div id="logo"><a href="/">zincDB</a></div>
    <div id="mobile-menu"><div id="mobile-menu-icon">&#9776;</div></div>
  </nav>
  <ul id="nav-links">
    <li><a href="/sites/">Zinc Sites</a></li>
    <li><a href="/about/">About</a></li>
    {% if user.is_authenticated %}
    <li><a href="/sites/new/" class="logged-in">New Site</a></li>
    <li><a href="/logout/" class="logged-in">Log Out</a></li>
    {% endif %}
  </ul>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer>
    <div class="footer-list">
      <div class="footer-header">Useful Links</div>
      <a href="http://www.bioinf.org.uk/" target="_blank">The Martin Group</a>
      <a href="https://github.com/samirelanduk/zincDB" target="_blank">Source code</a>
      <a href="/changelog/">Changelog</a>
    </div><div class="footer-list">
      <div class="footer-header">Related Projects</div>
      <a href="http://metalweb.cerm.unifi.it/" target="_blank">MetalPDB</a>
      <a href="http://synpharm.guidetopharmacology.org/" target="_blank">SynPHARM</a>
      <a href="https://www.bindingdb.org/bind/index.jsp" target="_blank">The Binding Database</a>
    </div>
    <div id="copyright">Copyright 2017</div>
  </footer>
</body>

</html>
