<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Database of Zinc Binding Sites">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - zincDB</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  {% block css %}{% endblock %}
  <!--analytics-->
</head>
<body>
  <nav>
    <div id="logo">zincDB</div>
    <ul id="nav-links">
      <li>About</li>
      <li>Help</li>
    </ul>
  </nav>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer>
    <div class="footer-list">
      <div class="footer-header">Useful Links</div>
      <a href="http://www.bioinf.org.uk/" target="_blank">The Martin Group</a>
      <a href="https://github.com/samirelanduk/zincDB" target="_blank">Source code</a>
      <a href="/changelog/">Chagelog</a>
    </div>
    <div class="footer-list">
      <div class="footer-header">Related Projects</div>
      <a href="http://metalweb.cerm.unifi.it/" target="_blank">MetalPDB</a>
      <a href="http://synpharm.guidetopharmacology.org/" target="_blank">SynPHARM</a>
      <a href="https://www.bindingdb.org/bind/index.jsp" target="_blank">The Binding Database</a>
    </div>
    <div id="copyright">Copyright 2017</div>
  </footer>
</body>

</html>
