<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="description" content="Database of Zinc Binding Sites">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} - zincDB</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  {% block css %}{% endblock %}
  <!--analytics-->
</head>
<body>
  <nav></nav>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer></footer>
</body>

</html>
