<form method="POST">
  {% if site %}
  <h1>Edit Zinc Site {{ site.id }}</h1>
  {% else %}
  <h1>New Zinc Site</h1>
  {% endif %}
  {% if error %}
  <div class="error-message">{{ error }}</div>
  {% endif %}
  <input name="pdb" autocomplete="off" placeholder="PDB code" {% if site %}value="{{ site.pdb.id }}" disabled{% endif %}>
  <input name="zinc" autocomplete="off" placeholder="Zinc ID" {% if site %}value="{{ site.zinc_id }}" disabled{% endif %}>
  <script src="/static/js/site-entry.js"></script>
  <fieldset id="residue-inputs">
    <div class="residue-input">
      <input name="residue1" placeholder="Residue ID"><button type="button" onclick="removeResidueInput(this);">x</button>
    </div>
    <button type="button" id="new-residue-input" onclick="newResidueInput();">+</button>
  </fieldset>
  {% csrf_token %}
  <input type="submit">

</form>
