django==2.0.2
requests==2.18.4
atomium==0.9.1
tqdm==4.23.3
django==2.0.2
rjsmin==1.0.12 --install-option="--without-c-extensions"
rcssmin==1.0.6 --install-option="--without-c-extensions"
libsass==0.14.5
django-compressor==2.2
django-sass-processor==0.7
