{% extends "base.html" %}

{% block title %}Advanced Search{% endblock %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{% endblock %}

{% block h1 %}<h1>Advanced Search</h1>{% endblock %}
{% block main %}

<form method="GET" action="/search">
	<div class="error-message"></div>
    <div class="search-row">
        <select onchange="updateSearchTerm(this);">
          <option value="title">PDB Title</option>
          <option value="code">PDB Code</option>
          <option value="classification">PDB Classification</option>
          <option value="organism">PDB Organism</option>
          <option value="expression">PDB Expression</option>
          <option value="technique">PDB Technique</option>
        </select>
        <span class="search-con"> contains </span>
        <input name="title">
    </div>

    <button type="button" class="add-row" onclick="addSearchRow(this);">Add term</button>

    <input type="submit" onclick="return validateSearch();" value="Search">
</form>
{% endblock %}
