{% extends "base.html" %}

{% block title %}Changelog{% endblock %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="/static/css/changelog.css">
{% endblock %}

{% block h1 %}<h1>Changelog</h1>{% endblock %}

{% block main %}
<div class="release">
  <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.2"
     target="_blank">0.2.0</a></h2>
  <div class="release-date">8 January, 2018</div>
  <ul>
    <li>Added site information on resolution, R-factor, classification, organisms and experimental technique</li>
    <li>Added 3D visualisation of the binding sites</li>
    <li>Integrated geometry information to site pages</li>
    <li>Added links to similar sites to site pages</li>
    <li>Built advanced search tool to complement the general search bar</li>
    <li>Improved statistics and data visualisation</li>
    <li>Improved general look and feel</li>
    <li>Redefined database relationships</li>
  </ul>
</div>

<div class="release">
  <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.1"
     target="_blank">0.1.0</a></h2>
  <div class="release-date">13 November, 2017</div>
  <ul>
    <li>Built initial database of zinc binding sites</li>
    <li>Added home page, data page, and basic site structure</li>
    <li>Added basic searching of Zinc IDs</li>
  </ul>
</div>

{% endblock %}
