<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sam Ireland">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html, body {margin: 0; height: 100%; overflow: hidden}
    canvas {width: 100%; height: 100%; background-color: #FFFFFF !important}
  </style>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script>
    function handleResize() {
      var width = $(window).width();
      var height = $(document).height();
      $("#site").width(width);
      $("#site").height(height);
      stage.handleResize();
    }
    $(window).on("resize", function() {
      handleResize();
    })
  </script>
</head>

<body>
  <div id="site"></div>
</body>
<script src="https://unpkg.com/ngl"></script>
<script>
  var stage = new NGL.Stage("site");



  function defaultStructureRepresentation(component) {
      var zincChain = "{{ site.id }}"[4];
      var zincID = "{{ site.id }}".slice(5);
      var zincCommand = {
          sele: ":" + zincChain + " and " + zincID,
          aspectRatio: 8
      };
      var residueCommand = {{ site.ngl_residues_id }};
      residueCommand = {
          sele: residueCommand,
      }
      component.addRepresentation("licorice", residueCommand);
      component.autoView(residueCommand.sele);
      component.addRepresentation("cartoon");
      component.addRepresentation("ball+stick", zincCommand);
  }
  stage.loadFile("rcsb://{{ site.id }}").then(defaultStructureRepresentation);
  handleResize();
</script>

</html>
