{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block main %}
<h1>Search Results: {{ term }}</h1>

<div id="result-count">
  Search returned {{ result_count }} result{% if results.count != 1 %}s{% endif %}
  (Page {{ page }} of {{ page_count }}).
</div>

<table class="results-table">
  <tr><th>ZincSite ID</th><th>PDB</th><th>Deposited</th><th>Residues</th></tr>
  {% for result in results %}
  <tr>
    <td><a href="/{{ result.id }}/">{{ result.id }}</a></td>
    <td>{{ result.pdb.id }}</td>
    <td>{{ result.pdb.deposited|date:"j F, Y" }}</td>
    <td>{{ result.residues.count }}</td>
  </tr>
  {% endfor %}
</table>

{% if previous or next %}
<div class="page-links">
  {% if previous %}<a href="/search?term={{ term }}&page={{ previous }}">Previous</a>{% endif %}
  {% if next %}<a href="/search?term={{ term }}&page={{ next }}">Next</a>{% endif %}
</div>
{% endif %}

{% endblock %}
