{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block main %}
<h1>Search Results: {{ term }}</h1>

<div id="result-count">
  Search returned {{ results.count }} result{% if results.count != 1 %}s{% endif %}.
</div>

<table class="results-table">
  <tr><th>ZincSite ID</th><th>PDB</th><th>Deposited</th><th>Residues</th></tr>
  {% for result in results %}
  <tr>
    <td>{{ result.id }}</td>
    <td>{{ result.pdb.id }}</td>
    <td>{{ result.pdb.deposited|date:"j F, Y" }}</td>
    <td>{{ result.residues.count }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
