{% extends "base.html" %}

{% block title %}{{ site.id }}{% endblock %}

{% block css %}
 <link rel="stylesheet" type="text/css" href="/static/css/site.css">
{% endblock %}

{% block h1 %}<h1>Zinc Site: {{ site.id }}</h1>{% endblock %}
{% block main %}

<div id="site">
    <div class="row">
        <div class="half-width left">
            <div id="ngl-container">
              <iframe scrolling="no" src="/ngl/{{site.id}}/"></iframe>
            </div>
        </div><div class="half-width right">
          <table class="site-info">
              <tr>
                  <td>Residues</td>
                  <td>{% for residue in site.residue_set.all %}<div class="residue">
                        <strong>{{ residue.full_name }}</strong> ({{ residue.residue_id }})
                        <ul>
                          <li>CA distance: {% if residue.ca %}
                          {{ residue.ca.zinc_distance|floatformat:"2" }} &#8491;{% else %}N/A{% endif %}</li>
                          <li>CB distance: {% if residue.cb %}
                          {{ residue.cb.zinc_distance|floatformat:"2" }} &#8491;{% else %}N/A{% endif %}</li>
                        </ul><br></div>
                      {% endfor %}</td>
              </tr>
              <tr>
                  <td>PyMol Selector</td>
                  <td><code>sele {{ site.id }}, {% for residue in site.residue_set.all %}(chain {{ residue.chain }} and resi {{ residue.number_id }}) + {% endfor %} (chain {{ site.chain }} and resi {{ site.number_id }})</code></td>
              </tr>
              <tr>
                  <td>VMD Selector</td>
                  <td><code>{% for residue in site.residue_set.all %}(chain {{ residue.chain }} and resid {{ residue.number_id }}) or {% endfor %} (chain {{ site.chain }} and resid {{ site.number_id }})</code></td>
              </tr>
          </table>
        </div>
    </div>
</div>

<div id="site-pdb">
  <div class="row">
    <div class="half-width left">
      <table>
        <tr><td>PDB Code</td><td><a href="http://www.rcsb.org/pdb/explore.do?structureId={{ site.pdb.id }}" target="_blank">{{ site.pdb.id }}</td></tr>
        <tr><td>Deposition Date</td><td>{{ site.pdb.deposited|date:"j F, Y" }}</td></tr>
        <tr><td>Title</td><td>{{ site.pdb.title }}</td></tr>
        <tr><td>Technique</td><td>{{ site.pdb.technique }}</td></tr>
        <tr><td>Resolution</td><td>{{ site.pdb.resolution }}</td></tr>
        <tr><td>Rfactor</td><td>{{ site.pdb.rfactor }}</td></tr>
        <tr><td>Classification</td><td>{{ site.pdb.classification }}</td></tr>
        <tr><td>Source Organism</td><td>
          <em><script>document.write(formatSpecies("{{ site.pdb.organism }}"));</script></em>
        </td></tr>
        <tr><td>Expression System</td><td>
          <em><script>document.write(formatSpecies("{{ site.pdb.expression }}"));</script></em>
        </td></tr>
      </table>
  </div><div class="half-width right">
      <table>
        <tr>
          <th>Other Sites in this PDB</th>
        </tr>
      </table>
      <table>
        <tr>
          <th>Other Sites from this Organism</th>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
