{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ site.id }}{% endblock %}


{% block css %}
 <link rel="stylesheet" type="text/css" href="/static/css/site.css">
{% endblock %}

{% block h1 %}<h1>Zinc Site: {{ site.id }}</h1>{% endblock %}
{% block main %}

<div id="site">
    <div class="row">
        <div class="half-width left">
            <div id="ngl-container">
              <div class="box-header">3D view</div>
              <div id="ngl-site"></div>
              <script src="https://unpkg.com/ngl"></script>
              <script src="/static/js/ngl.js"></script>
              <script>
                var otherZincs = [];
                var otherSites = [];
                {% for site in pdb_sites %}
                otherZincs.push("{{ site.ngl_zinc_id }}");
                otherSites.push("{{ site.ngl_residues_id }}");
                {% endfor %}
                drawNgl("{{ site.pdb.id }}", "{{ site.ngl_zinc_id }}", "{{ site.ngl_residues_id }}", otherZincs, otherSites)
              </script>

            </div>
            <div class="box-legend">
                Click and drag to move and/or zoom. Any other zinc sites in
                this PDB will also be visible.
            </div>

            <div class="gui-selector">
                <label>GUI Program Selector: </label>
                <select onchange="updateSelector(this);">
                    <option value=""></option>
                    <option value="sele {{ site.id }}, {% for residue in site.residue_set.all %}(chain {{ residue.chain }} and resi {{ residue.number_id }}) + {% endfor %} (chain {{ site.chain }} and resi {{ site.number_id }})">PyMol</option>
                    <option value="{% for residue in site.residue_set.all %}(chain {{ residue.chain }} and resid {{ residue.number_id }}) or {% endfor %} (chain {{ site.chain }} and resid {{ site.number_id }})">VMD</option>
                </select>
                <code></code>
            </div>
        </div><div class="half-width right">
            <div class="site-residues">
                <h2>Residues</h2>
                {% for residue in site.residue_set.all %}<div class="residue">
                  <strong>{{ residue.full_name }}</strong> ({{ residue.residue_id }})
                  <ul>
                    <li>CA distance: {% if residue.ca %}
                    {{ residue.ca.zinc_distance|floatformat:"2" }} &#8491;{% else %}N/A{% endif %}</li>
                    <li>CB distance: {% if residue.cb %}
                    {{ residue.cb.zinc_distance|floatformat:"2" }} &#8491;{% else %}N/A{% endif %}</li>
                  </ul><br></div>
                {% endfor %}</div>
          <div id="solvation-chart"></div>
          <script src="https://code.highcharts.com/highcharts.js"></script>
          <script>
            Highcharts.chart("solvation-chart", {
            chart: {
                zoomType: "xy",
                type: "line",
                plotBorderWidth: 1,
            },
            title: {
                text: "Hydrophobic Contrast"
            },
            credits: {
                enabled: false
            },
            xAxis: [{
                crosshair: true,
                min: 0,
                max: 10,
                title: {
                    useHTML: true,
                    text: "Sphere radius (&#x212B;)"
                }
            }],
            yAxis: [{ // Primary yAxis
                gridLineWidth: 1,
                title: {
                    useHTML: true,
                    text: "Average Solvation (J mol<sup>-1</sup> A<sup>-2</sup>)",
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }
            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    useHTML: true,
                    text: "Hydrophobic Contrast Score (J mol<sup>-1</sup>)",
                    style: {
                        color: "#85144b"
                    },
                },
                labels: {
                    style: {
                        color: "#85144b"
                    }
                },
                opposite: true

            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 55,
                floating: true,
            },
            series: [{
                name: 'solvation',
                data: {{ site.solvation }},
                useHTML: true,
                tooltip: {
                    useHTML: true,
                    valueSuffix: ' J mol<sup>-1</sup> A<sup>-2</sup>'
                },
                color: Highcharts.getOptions().colors[0]

            }, {
                name: 'contrast',
                yAxis: 1,
                data: {{ site.contrast }},
                tooltip: {
                    valueSuffix: ' J mol<sup>-1</sup>'
                },
                color: "#85144b"
            }]
            });


          </script>
        </div>
    </div>
</div>

<div id="site-pdb">
  <div class="row">
    <div class="half-width left">
      <table>
        <tr><td>PDB Code</td><td><a href="http://www.rcsb.org/pdb/explore.do?structureId={{ site.pdb.id }}" target="_blank">{{ site.pdb.id }}</td></tr>
        <tr><td>Deposition Date</td><td>{{ site.pdb.deposited|date:"j F, Y" }}</td></tr>
        <tr><td>Title</td><td>{{ site.pdb.title }}</td></tr>
        <tr><td>Technique</td><td>{{ site.pdb.technique }}</td></tr>
        <tr><td>Resolution</td><td>{{ site.pdb.resolution }}</td></tr>
        <tr><td>Rfactor</td><td>{{ site.pdb.rfactor }}</td></tr>
        <tr><td>Classification</td><td>{{ site.pdb.classification }}</td></tr>
        <tr><td>Source Organism</td><td>
          <em><script>document.write(formatSpecies("{{ site.pdb.organism }}"));</script></em>
        </td></tr>
        <tr><td>Expression System</td><td>
          <em><script>document.write(formatSpecies("{{ site.pdb.expression }}"));</script></em>
        </td></tr>
      </table>
  </div><div class="half-width right">
      <table class="other-sites">
        <tr>
          <th>Other Sites in this PDB</th>
        </tr>
        {% if pdb_sites.count == 0 %}
          <tr><td><em>None</em></td></tr>
        {% endif %}
        {% if pdb_sites.count <= 3 %}
          {% for site in pdb_sites %}
          <tr><td><a href="/{{ site.id }}/">{{ site.id }}</a></td></tr>
          {% endfor %}
        {% else %}
          <tr><td><a href="/{{ pdb_sites.0.id }}/">{{ pdb_sites.0.id }}</a></td></tr>
          <tr><td><a href="/{{ pdb_sites.1.id }}/">{{ pdb_sites.1.id }}</a></td></tr>
          <tr><td><a href="/search?code={{ site.pdb.id }}">See all {{ pdb_sites.count|add:"1"|intcomma }} zinc sites in this PDB</a></td></tr>
        {% endif %}
      </table>
      <table class="other-sites">
        <tr>
          <th>Other Sites from this PDB Class</th>
        </tr>
        {% if class_sites.count == 0 %}
          <tr><td><em>None</em></td></tr>
        {% endif %}
        {% if class_sites.count <= 3 %}
          {% for site in class_sites %}
          <tr><td><a href="/{{ site.id }}/">{{ site.id }}</a></td></tr>
          {% endfor %}
        {% elif class_sites.count == 0 %}
          <tr><td><em>None</em></td></tr>
        {% else %}
          <tr><td><a href="/{{ class_sites.0.id }}/">{{ class_sites.0.id }}</a></td></tr>
          <tr><td><a href="/{{ class_sites.1.id }}/">{{ class_sites.1.id }}</a></td></tr>
          <tr><td><a href="/search?classification={{ site.pdb.classification|urlencode }}">See all {{ class_sites.count|add:"1"|intcomma }} zinc sites in this Class</a></td></tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
