{% extends "base.html" %}

{% block title %}{{ site.id }}{% endblock %}

{% block css %}
 <link rel="stylesheet" type="text/css" href="/static/css/site.css">
{% endblock %}

{% block h1 %}<h1>Zinc Site: {{ site.id }}</h1>{% endblock %}
{% block main %}


<div id="site-pdb">
  <h2>PDB</h2>
  <table>
    <tr><td>PDB Code</td><td>{{ site.pdb.id }}</td></tr>
    <tr><td>Deposition Date</td><td>{{ site.pdb.deposited|date:"j F, Y" }}</td></tr>
    <tr><td>Title</td><td>{{ site.pdb.title }}</td></tr>
  </table>
</div>

<div id="site-residues">
    <h2>Residues</h2>
    {% for residue in site.residues.all %}
    <div class="residue">
      <table>
        <tr><td>Chain</td><td>{{ residue.chain }}</td></tr>
        <tr><td>ID</td><td>{{ residue.residue_id }}</td></tr>
        <tr><td>Name</td><td>{{ residue.name }}</td></tr>
      </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
