{% extends "base.html" %}

{% block title %}Advanced Search{% endblock %}

{% block main %}
<div class="column-container">
	<h1>Advanced Search</h1>

	<form method="GET" action="/search" class="box advanced-searcher">
		<div class="error-message"></div>
		<div class="search-term">
			<select onchange="updateSearchTerm(this);">
				<option value="title" data-placeholder="e.g. antibody, carbonic anhydrase">Title contains</option>
				<option value="classification" data-placeholder="e.g. oxidoreductase, membrane">Classification contains</option>
				<option value="keywords" data-placeholder="e.g. ion channel, zinc finger">Keywords contain</option>
				<option value="organism" data-placeholder="e.g. homo sapiens">Organism contains</option>
				<option value="expression" data-placeholder="e.g. saccharomyces">Expression System contains</option>
				<option value="technique" data-placeholder="e.g. NMR">Technique contains</option>
				<option value="resolution_lt" data-placeholder="e.g. 2.5">Resolution better than</option>
				<option value="resolution_gt" data-placeholder="e.g. 10">Resolution worse than</option>
				<option value="rfactor_lt" data-placeholder="e.g. 0.2">Rfactor better than</option>
				<option value="rfactor_gt" data-placeholder="e.g. 0.3">Rfactor worse than</option>
				<option value="deposited_gt" data-placeholder="e.g. 2017-01-01">Deposited since</option>
				<option value="deposited_lt" data-placeholder="e.g. 2000-01-01">Deposited before</option>
			</select>
			<input type="text" name="title" autocomplete="off" placeholder="e.g. antibody, carbonic anhydrase">
		</div>
		<button type="button" id="new-term" onclick="addTerm(this);">New Term</button>
		<input type="submit" value="Search" onclick="return validateSearch();">
	</form>

	<form method="GET" action="/search" class="box">
		<h2>BLAST Search</h2>
		<textarea name="sequence" placeholder="Raw or FASTA formatted peptide sequence"></textarea>
		<label>Expect Threshold</label>
		<select name="threshold" style="width: 100px;">
			<option value="0.0001">0.0001</option>
			<option value="0.001">0.001</option>
			<option value="0.01">0.01</option>
			<option value="0.1">0.1</option>
			<option value="1.0">1</option>
			<option value="10" selected="selected">10</option>
			<option value="100">100</option>
			<option value="1000">1000</option>
		</select>
		<input type="submit" value="BLAST">
	</form>
</div>
{% endblock %}
