<div id="pdb-ngl" class="pdb-box">
    <div id="ngl-container"></div>
    <div class="ngl-controls">
        <div class="ngl-control">
            <label>Background</label>
            <div class="color-options">
                <input type="radio" name="color" style="background-color: #ffffff" checked></input>
                <input type="radio" name="color" style="background-color: #000000"></input>
                <input type="radio" name="color" style="background-color: #472b52"></input>
                <input type="radio" name="color" style="background-color: #87ceeb"></input>
            </div>
        </div>
    </div>
</div>
