<div id="pdb-ngl" class="pdb-box">
    <div id="ngl-container"></div>
    <div class="ngl-controls">
        <div class="ngl-control">
            <label>Background</label>
            <div class="color-options">
                <input type="radio" name="color" style="background-color: #ffffff" checked></input>
                <input type="radio" name="color" style="background-color: #000000"></input>
                <input type="radio" name="color" style="background-color: #472b52"></input>
                <input type="radio" name="color" style="background-color: #87ceeb"></input>
            </div>
        </div>

        <div class="ngl-control">
            <label>Site Surface</label>
            <span class="toggle-switch">
                <span class="toggle-knob"></span>
            </span>
        </div>

        <div class="ngl-control">
            <label>Protein Display</label>
            <form><select class="backbone">
                <option value="cartoon">Cartoon</option>
                <option value="ball+stick">Ball and Stick</option>
                <option value="line">Lines</option>
                <option value="backbone">Backbone</option>
                <option value="ribbon">Ribbon</option>
                <option value="rope">Rope</option>
                <option value="tube">Tube</option>
            </select></form>
        </div>
    </div>
    <div class="info">Double click protein for full-screen</div>
</div>
