{% extends "base.html" %}

{% block title %}{{ pdb.id }}{% endblock %}

{% block main %}

<div class="page-row">
    <div id="pdb-information" class="page-section">
        <h2>{{ pdb.title }}</h2>
        <div class="info-rows">
            <div class="info-row">
                 <div class="field">PDB Code:</div>
                 <div class="field-value">{{ pdb.id }}</div>
            </div>
            <div class="info-row">
                 <div class="field">Deposited:</div>
                 <div class="field-value">{{ pdb.deposited }}</div>
            </div>
            <div class="info-row">
                <div class="field">Classification:</div>
                <div class="field-value">{{ pdb.classification }}</div>
            </div>
            <div class="info-row">
                <div class="field">Technique:</div>
                <div class="field-value">{{ pdb.technique }}</div>
            </div>
            <div class="info-row">
                <div class="field">Source Organism:</div>
                <div class="field-value"><em><script>document.write(formatSpecies("{{ pdb.organism }}"));</script></em></div>
            </div>
            <div class="info-row">
                <div class="field">Expression System:</div>
                <div class="field-value"><em><script>document.write(formatSpecies("{{ pdb.expression }}"));</script></em></div>
            </div>
            <div class="info-row">
                <div class="field">Resolution:</div>
                <div class="field-value">{{ pdb.resolution }}</div>
            </div>
            <div class="info-row">
                <div class="field">R-factor:</div>
                <div class="field-value">{{ pdb.rfactor }}</div>
            </div>
        </div>
    </div>

    <div id="ngl-container" class="page-section">
        <h2>3D Display</h2>
        <div id="ngl-display"></div>
    </div>
</div>
{% endblock %}

{% block endjs %}
    <script src="https://unpkg.com/ngl"></script>
    <script src="/static/js/ngl.js"></script>
    <script>drawNgl("{{ pdb.id }}")</script>
{% endblock %}
