{% extends "base.html" %}

{% block title %}{{ pdb.id }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/data-display.css">
{% endblock %}

{% block main %}
<h1>{{ pdb.title }}</h1>

<div id="pdb-info">
    <div class="pdb-info-columns">
        <div class="pdb-info-column">
            <div class="pdb-info-row"><strong>Code: </strong><a href="https://www.rcsb.org/structure/{{ pdb.id }}" target="_blank">{{ pdb.id }}</a></div>
            <div class="pdb-info-row"><strong>Classification: </strong> {{ pdb.classification }}</div>
        </div>
        <div class="pdb-info-column">
            <div class="pdb-info-row"><strong>Resolution: </strong> {{ pdb.resolution|angstroms }}</div>
            <div class="pdb-info-row"><strong>R-factor: </strong> {{ pdb.rfactor|angstroms }}</div>
        </div>
    </div>
    <div class="pdb-info-row"><strong>Deposition Date: </strong> {{ pdb.deposited }}</div>
    <div class="pdb-info-row"><strong>Experimental Technique: </strong> {{ pdb.technique }}</div>
    <div class="pdb-info-row"><strong>Source Organism: </strong><em><script>document.write(formatSpecies("{{ pdb.organism }}"));</script></em></div>
    <div class="pdb-info-row"><strong>Expression System: </strong><em><script>document.write(formatSpecies("{{ pdb.expression }}"));</script></em></div>
</div>

<div id="pdb-chains">
    <div>
        {{ pdb.chain_set.count }} zinc-bearing chain{% if pdb.chain_set.count != 1 %}s{% endif %}
        ({% for chain in pdb.chain_set.all %}{{ chain.id|slice:"-1:" }}{% if not forloop.last %}, {% endif %}{% endfor %})
    </div>
</div>

<div id="pdb-sites">
    <div class="pdb-sites-count">{{ pdb.zincsite_set.count }} zinc binding site{% if pdb.zincsite_set.count != 1 %}s{% endif %}</div>

    <div class="pdb-sites-list">
        {% for site in pdb.zincsite_set.all %}
        <div class="pdb-site"><a href="/{{ site.id }}/">
            <div class="pdb-site-id">{{ site.id }}</div>
            <div class="pdb-site-residues">
                {{ site.residue_set.count }} residue{% if pdb.residue_set.count != 1 %}s{% endif %}
                {% for residue in site.residue_set.all %}
                <span class="pdb-site-residue">{{ residue.residue_id }} ({{ residue.name }}){% if not forloop.last %}, {% endif %}</span>
                {% endfor %}
            </div>
        </a></div>
        {% endfor %}
    </div>
</div>

<div id="pdb-ngl">
    <div id="ngl-container"></div>
    <div class="ngl-controls"></div>
</div>

{% endblock %}

{% block endjs %}
    <script src="https://unpkg.com/ngl"></script>
    <script src="/static/js/ngl.js"></script>
    <script>drawNgl("{{ pdb.id }}")</script>
{% endblock %}
