{% extends "base.html" %}

{% block title %}{{ pdb.id }}{% endblock %}

{% block main %}
<div class="column-container">
    <h1>{{ pdb.title }}</h1>

    {% include "pdb-info.html" %}

    <div id="pdb-chains" class="pdb-box">
        <div>
            {{ pdb.chain_set.count }} zinc-bearing chain{{ pdb.chain_set.count|pluralize }}
            ({% for chain in pdb.chain_set.all %}{{ chain.chain_pdb_identifier }}{% if not forloop.last %}, {% endif %}{% endfor %});
            {{ pdb.metals.count }} zinc atom{{ pdb.metals.count|pluralize }}
            ({% for metal in pdb.metals %}{{ metal.atom_pdb_identifier }}{% if not forloop.last %}, {% endif %}{% endfor %});

        </div>
    </div>

    <div id="pdb-sites" class="pdb-box">
        <div class="pdb-sites-count">{{ pdb.zincsite_set.count }} zinc binding site{% if pdb.zincsite_set.count != 1 %}s{% endif %}</div>

        <div class="pdb-sites-list">
            {% for site in pdb.zincsite_set.all %}
            {% include "zinc-site-summary.html" %}
            {% endfor %}
        </div>
    </div>

    {% include "ngl-pdb.html" %}
</div>

{% endblock %}

{% block endjs %}
    <script src="https://unpkg.com/ngl@2.0.0-dev.32"></script>
    <script src="/static/js/ngl.js"></script>
    <script>drawWholePdb("{{ pdb.id }}", "{{ pdb.ngl_metals_sele }}", "{{ pdb.ngl_residues_sele }}"); setUpControls();</script>
{% endblock %}
