{% extends "base.html" %}

{% block title %}Search Results: {{ request.GET.q }}{% endblock %}

{% block main %}
{% if results.count %}
    <div class="search-info shadow">
        <div>{{ results.count }} result{% if results.count != 1 %}s{% endif %}</div>
        {% if results.num_pages > 1 %}<div>Page {{ page.number }} of {{ results.num_pages }}</div>{% endif %}
    </div>

    {% for pdb in page %}
    <div class="search-result shadow">
        <div class="pdb-result"><a href="/pdbs/{{ pdb.id }}/">
            <div class="pdb-result-main">
                <div class="pdb-code">PDB: {{ pdb.id }}</div>
                <div class="pdb-deposited">{{ pdb.deposited }}</div>
                <div class="pdb-species"><script>document.write(formatSpecies("{{ pdb.organism }}"));</script></div>
            </div>
            <div class="pdb-title">{{ pdb.title|truncatewords:20 }}</div>
            <div class="pdb-secondary">
                 {{ pdb.classification}} |
                 {{ pdb.technique }}{% if pdb.resolution %} ({{ pdb.resolution }} Å){% endif %} |
                 {{ pdb.chain_set.count }} zinc-bearing chain{% if pdb.chain_set.count != 1 %}s{% endif %}
             </div>
        </a></div>
    </a></div>
    {% endfor %}

    {% if results.num_pages > 1 %}
        <div id="search-nav" class="shadow">
            {% if page.has_previous %}<a class="previous-page" href="/search?q={{ request.GET.q }}&page={{ page.previous_page_number}}">Previous Page</a>{% endif %}
            {% if page.has_next %}<a class="next-page" href="/search?q={{ request.GET.q }}&page={{ page.next_page_number}}">Next Page</a>{% endif %}
        </div>
    {% endif %}
{% else %}

    <div class="search-info no-results shadow">
        <div>There were no results matching your query.</div>
        <div class="search-help">
            Search is case-insensitive, and searches PDB codes (for exact matches)
            and PDB descriptions (for partial matches).
        </div>
    </div>
{% endif %}
{% endblock %}
