{% extends "base.html" %}

{% block title %}{{ site.id }}{% endblock %}

{% block main %}

<div class="non-grid-column-container">
    <h1>{{ site.id }}</h1>

    <div class="grid-2">
        <div class="box" id="site-info">
            <h3>PDB</h3>
            <div><a href="/pdbs/{{ site.pdb.id }}/">{{ site.pdb.id }}</a> ({{ site.pdb.title }})</div>

            <h3>Metals</h3>
            {% for metal in site.metal_set.all %}
            <div class="metal" data-ngl="{{ metal.residue.ngl_sele }}">{{ metal.atom_pdb_identifier }} ({{ metal.element }})</div>
            {% endfor %}

            <h3>Liganding Residues</h3>
            {% for residue in site.residue_set.all %}
            <div class="residue" data-ngl="{{ residue.ngl_side_chain_sele }}">{{ residue.atomium_id }} ({{ residue.name }})</div>
            {% endfor %}
        </div>

        <div id="pdb-sites">
            <div class="scrollable box">
                {% if site.equivalent_sites %}
                <div class="pdb-sites-count">{{ site.equivalent_sites.count }} equivalent site{{ site.equivalent_sites.count|pluralize }}.</div>
                <div class="pdb-sites-list">
                    {% for other_site in site.equivalent_sites %}
                    {% with other_site as site %}
                    {% include "zinc-site-summary.html" %}
                    {% endwith %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="no-sites"><p>There are no equivalent sites - this zinc site is
                    unique in the database.</p></div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "ngl-pdb.html" %}

    {% with site.pdb as pdb %}
    {% include "pdb-info.html" %}
    {% endwith %}
</div>
{% endblock %}

{% block endjs %}
    <script src="https://unpkg.com/ngl@2.0.0-dev.32"></script>
    <script src="/static/js/ngl.js"></script>
    <script>drawZincSite("{{ site.pdb.id }}", "{{ site.ngl_metals_sele }}", "{{ site.ngl_residues_sele }}"); setUpControls();</script>
{% endblock %}
