{% load sass_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Sam Ireland">
    <meta name="description" content="ZincBind - the database of zinc binding sites">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <title>{% block title %}{% endblock %} - ZincBind</title>
    <link href='https://fonts.googleapis.com/css?family=Exo+2|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block scripts %}{% endblock %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--analytics-->
</head>


<body>
    <nav>
        <a id="logo" href="/">ZincBind</a>
        <div id="mobile-menu">
            <div id="mobile-menu-icon"><div></div><div></div><div></div></div>
        </div>
        <div id="nav-links">
            <a href="/search/">Search</a>
            <a href="/data/">Data</a>
            <a href="/about/">About</a>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="footer-column">
            <h3>Useful Links</h3>
            <a href="http://www.bioinf.org.uk/" target="_blank">The Martin Group</a>
            <a href="https://github.com/samirelanduk/zincbind" target="_blank">Source code</a>
            <a href="/changelog/">Changelog</a>
        </div>
        <div class="footer-column">
            <h3>Related Projects</h3>
            <a href="http://metalweb.cerm.unifi.it/" target="_blank">MetalPDB</a>
            <a href="http://synpharm.guidetopharmacology.org/" target="_blank">SynPHARM</a>
            <a href="https://www.bindingdb.org/bind/index.jsp" target="_blank">The Binding Database</a>
        </div>
    </footer>

    {% block endjs %}{% endblock %}
</body>

</html>
