<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Sam Ireland">
    <meta name="description" content="ZincBind - the database of zinc binding sites">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - ZincBind</title>
    {% block css %}{% endblock %}
    <script src="https://code.jquery.com/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
    {% block head %}{% endblock %}
    <!--analytics-->
</head>

<body>
{% block body %}{% endblock %}
</body>

</html>
