{% extends "base.html" %}

{% block title %}Changelog{% endblock %}

{% block main %}
<div class="small-column-container">
    <h1>Changelog</h1>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.6.3"
         target="_blank">0.6.3</a></h2>
      <div class="release-date">13 December, 2018</div>
      <ul>
        <li>Added coordination numbers.</li>
        <li>Improved liganding atom detection.</li>
        <li>Fixed HTML minification issues.</li>
        <li>Added browse link on home page.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.6.2"
         target="_blank">0.6.2</a></h2>
      <div class="release-date">14 October, 2018</div>
      <ul>
        <li>Improved bind site cluster algorithm.</li>
        <li>Binding site residue codes now omit HET ligands.</li>
        <li>Improved pagination UI.</li>
        <li>Added option to sort search results.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.6.1"
         target="_blank">0.6.1</a></h2>
      <div class="release-date">19 September, 2018</div>
      <ul>
        <li>Fixed bug in NGL metal selector generation.</li>
        <li>Fixed bug in metal residue ID generation.</li>
        <li>Improved functional tests.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.6"
         target="_blank">0.6.0</a></h2>
      <div class="release-date">14 September, 2018</div>
      <ul>
        <li>Spurious zinc atoms now excluded (though still logged).</li>
        <li>Added reasons for when zincs are excluded on PDB page.</li>
        <li>ZincSites now have residue codes associated for classification.</li>
        <li>Added BLAST expect value parameter.</li>
        <li>API now lets you search.</li>
        <li>Added new data charts.</li>
        <li>Certain ZincSites now flagged as 'representative' to allow analysis to easily exclude duplicates.</li>
      </ul>
    </div>


    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.5.1"
         target="_blank">0.5.1</a></h2>
      <div class="release-date">23 August, 2018</div>
      <ul>
        <li>Fixed links on API page.</li>
        <li>Fixed title on data browsing page.</li>
      </ul>
    </div>


    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.5"
         target="_blank">0.5.0</a></h2>
      <div class="release-date">7 August, 2018</div>
      <ul>
        <li>Data generation now uses low energy biological assemblies in place of asymmetric units.</li>
        <li>Added basic REST API.</li>
        <li>Added data browsing.</li>
        <li>Added option to download all data.</li>
        <li>Added concept of symmetrical copies of a binding site.</li>
        <li>Database now tracks zinc atoms not suitable for inclusion in a binding site.</li>
        <li>Fixed bug in numerical searches.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4.3"
         target="_blank">0.4.3</a></h2>
      <div class="release-date">28 June, 2018</div>
      <ul>
        <li>Added help page with use cases.</li>
        <li>Added search suggestions in advanced search.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4.2"
         target="_blank">0.4.2</a></h2>
      <div class="release-date">24 June, 2018</div>
      <ul>
        <li>3D display now handles atom occupancy.</li>
        <li>3D display now shows only relevant atom distances.</li>
        <li>Added proper 404 page style.</li>
        <li>Improved 3D display controls layout.</li>
        <li>Charts/data page now takes 0.4 seconds to load rather that 1.0 seconds.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4.1"
         target="_blank">0.4.1</a></h2>
      <div class="release-date">17 June, 2018</div>
      <ul>
        <li>You can highlight metals and residues in the 3D display now.</li>
        <li>Structure spinning.</li>
        <li>Added attributions.</li>
        <li>Remove waters from 3D display if not liganding.</li>
        <li>Minor style fixes.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4"
         target="_blank">0.4.0</a></h2>
      <div class="release-date">10 June, 2018</div>
      <ul>
        <li>Redesigned site look and feel.</li>
        <li>Improved bind site detection algorithm.</li>
        <li>Added chains to database and clustered them.</li>
        <li>Zinc Sites are now clustered based on chain sequence identity.</li>
        <li>You can now BLAST search the database.</li>
        <li>Added more advanced search terms, such as resolution.</li>
        <li>Added PDB keywords.</li>
        <li>Added distinct PDB pages showing all sites in that PDB.</li>
        <li>Added controls to 3D display.</li>
        <li>3D display now shows contacts.</li>
      </ul>
    </div>


    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.3"
         target="_blank">0.3.0</a></h2>
      <div class="release-date">28 January, 2018</div>
      <ul>
        <li>Database now only includes zinc sites which interact via side chains.</li>
        <li>Information on hydrophobic environment now included.</li>
        <li>Added more search criteria.</li>
        <li>Added more data visualisation.</li>
        <li>Improved 3D display to include other zinc sites (and general big fixes).</li>
        <li>Added links to sites from the same PDB class.</li>
      </ul>
    </div>


    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.2"
         target="_blank">0.2.0</a></h2>
      <div class="release-date">8 January, 2018</div>
      <ul>
        <li>Added site information on resolution, R-factor, classification, organisms and experimental technique.</li>
        <li>Added 3D visualisation of the binding sites.</li>
        <li>Integrated geometry information to site pages.</li>
        <li>Added links to similar sites to site pages.</li>
        <li>Built advanced search tool to complement the general search bar.</li>
        <li>Improved statistics and data visualisation.</li>
        <li>Improved general look and feel.</li>
        <li>Redefined database relationships.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.1"
         target="_blank">0.1.0</a></h2>
      <div class="release-date">13 November, 2017</div>
      <ul>
        <li>Built initial database of zinc binding sites.</li>
        <li>Added home page, data page, and basic site structure.</li>
        <li>Added basic searching of Zinc IDs.</li>
      </ul>
    </div>
</div>
{% endblock %}
