{% extends "base.html" %}

{% block title %}Changelog{% endblock %}

{% block main %}
<div class="small-column-container">
    <h1>Changelog</h1>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4.2"
         target="_blank">0.4.2</a></h2>
      <div class="release-date">24 June, 2018</div>
      <ul>
        <li>3D display now handles atom occupancy.</li>
        <li>3D display now shows only relevant atom distances.</li>
        <li>Added proper 404 page style.</li>
        <li>Improved 3D display controls layout.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4.1"
         target="_blank">0.4.1</a></h2>
      <div class="release-date">17 June, 2018</div>
      <ul>
        <li>You can highlight metals and residues in the 3D display now.</li>
        <li>Structure spinning.</li>
        <li>Added attributions.</li>
        <li>Remove waters from 3D display if not liganding.</li>
        <li>Minor style fixes.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.4"
         target="_blank">0.4.0</a></h2>
      <div class="release-date">10 June, 2018</div>
      <ul>
        <li>Redesigned site look and feel.</li>
        <li>Improved bind site detection algorithm.</li>
        <li>Added chains to database and clustered them.</li>
        <li>Zinc Sites are now clustered based on chain sequence identity.</li>
        <li>You can now BLAST search the database.</li>
        <li>Added more advanced search terms, such as resolution.</li>
        <li>Added PDB keywords.</li>
        <li>Added distinct PDB pages showing all sites in that PDB.</li>
        <li>Added controls to 3D display.</li>
        <li>3D display now shows contacts.</li>
      </ul>
    </div>


    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.3"
         target="_blank">0.3.0</a></h2>
      <div class="release-date">28 January, 2018</div>
      <ul>
        <li>Database now only includes zinc sites which interact via side chains.</li>
        <li>Information on hydrophobic environment now includes.</li>
        <li>Added more search criteria.</li>
        <li>Added more data visualisation.</li>
        <li>Improved 3D display to include other zinc sites (and general big fixes).</li>
        <li>Added links to sites from the same PDB class.</li>
      </ul>
    </div>


    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.2"
         target="_blank">0.2.0</a></h2>
      <div class="release-date">8 January, 2018</div>
      <ul>
        <li>Added site information on resolution, R-factor, classification, organisms and experimental technique.</li>
        <li>Added 3D visualisation of the binding sites.</li>
        <li>Integrated geometry information to site pages.</li>
        <li>Added links to similar sites to site pages.</li>
        <li>Built advanced search tool to complement the general search bar.</li>
        <li>Improved statistics and data visualisation.</li>
        <li>Improved general look and feel.</li>
        <li>Redefined database relationships.</li>
      </ul>
    </div>

    <div class="box release">
      <h2><a href="https://github.com/samirelanduk/ZincBind/tree/v0.1"
         target="_blank">0.1.0</a></h2>
      <div class="release-date">13 November, 2017</div>
      <ul>
        <li>Built initial database of zinc binding sites.</li>
        <li>Added home page, data page, and basic site structure.</li>
        <li>Added basic searching of Zinc IDs.</li>
      </ul>
    </div>
</div>
{% endblock %}
