{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block main %}
<div class="column-container">
    <h1>How to use ZincBind</h1>

    <div class="box about-box">
        <h2>There's a particular zinc binding site I want to examine.</h2>
        <p>If you know the PDB code of the structure containing your zinc
        binding site, you can access it by entering the PDB code into the search
        bar on the <a href="/">main page</a>. This should return the PDB, and
        all of the zinc sites it contains.</p>
        <p>You can click the PDB to go to the page for that PDB and view all of
        its contents, or if you see the specific site you are looking for in
        the search results, you can click that to go directly to it.</p>
    </div>

    <div class="box about-box">
        <h2>I don't have a particular binding site in mind, but I am looking for
        a particular <em>kind</em> of binding site.</h2>
        <p>The <a href="/search/">advanced search page</a> allows you to query
        the data by some particular parameter. For example, you could look at
        only those structures with a <a href="/search?resolution_lt=1.5">
        resolution better than 1.5 Angstroms</a>, or those which
        <a href="/search?keywords=zinc+finger">describe themselves as a zinc
        finger</a>, or
        <a href="/search?technique=NMR&deposited_gt=2015-01-01&organism=saccharomyces">
        NMR structures published since 2015 from yeast</a>.
    </div>

    <div class="box about-box">
        <h2>I have a peptide sequence and I want to know if it encodes a protein
        which binds zinc.</h2>
        <p>Currently the way to get an idea of whether your sequence binds zinc
        is to run it through ZincBind's <a href="/search/">BLAST search</a>
        utility, at the bottom of that page.</p>
        <p>This will tell you how similar your sequence is to sequences known to
        bind zinc, and results are returned 'best match first'. More
        sophisticated tools are planned for the future.</p>
        <p>You can pass in a raw peptide sequence, or a FASTA formatted peptide
        sequence.</p>
    </div>

    <div class="box about-box">
        <h2>I'm a developer and I want to access the data with a script or
        other program.</h2>
        <p>The REST API can be found <a href="/api/">here</a>. You can also
        download the database from the <a href="/data/">data page</a>.</p>
    </div>

    <div class="box about-box">
        <h2>I don't have a particular goal in mind, I just want to see what kind
        of data is here.</h2>
        <p><em>Browsing coming soon.</em></p>
        <p>(In the meantime, <a href="/search?q=+"> this search</a> will return
        all results in the database.)</p>
    </div>

    <div class="box about-box">
        <h2>I'm on the page for a PDB and I don't know what I'm looking at.</h2>
        <p>At the top of the page is the PDB's title - this is how the structure
        as a whole is described in the .pdb file. It may or may not mention
        zinc - a structure's zinc binding sites are not always the most
        important feature after all.</p>
        <p>Next comes a table of descriptive properties of the PDB - when it was
        deposited to the Data Bank, how its structure is classified, etc. These
        are parsed automatically from the .pdb file.</p>
        <p>After this is a description of the 'zinc bearing chains' in the PDB -
        these are those chains with residues involved in zinc binding in some
        way - and the relevant metal ions it contains. Here 'relevant' means
        zinc, and any other metal that is in a zinc binding site.</p>
        <p>Then there is a list of all the zinc binding sites in that PDB. Each
        one is a clickable link to that site's page, and has a summary of the
        residues in that site.</p>
        <p>Finally there is a 3D manipulatable view of the whole PDB structure,
        with all the zinc binding sites visible. You can manipulate this with
        your mouse/touch gestures, and use the controls that accompany it.</p>
    </div>

    <div class="box about-box">
        <h2>I'm on the page for a Zinc Site and I don't know what I'm looking
        at.</h2>
        <p>At the top of the page is the Zinc Site's unique ID - this is
        generally the PDB code that contains it followed by the zinc site number
        within that protein.</p>
        <p>After this is a quick summary of the binding site - the title of the
        PDB it comes from, and the IDs of the metals and residues it contains.
        You can click on any of these boxes, and the relevant atoms will light
        up in green in the 3D display below.</p>
        <p>Next comes links to any 'equivalent' binding sites. Many proteins
        are duplicated in the PDB, or exist in mutated forms, so many zinc
        binding sites will be duplicates. These are clustered together in
        ZincBind by first clustering all chains into clusters on 90% sequence
        identity, and then assigning sites to clusters where all sites in that
        cluster are associated with the same chain cluster(s), and have the
        same residue IDs. Clicking any of these links will take you to a page
        for a zinc site which looks very similar.</p>
        <p>Below this is the 3D manipulatable view of the site, zoomed in to the
        relevant residues. You can manipulate this with your mouse/touch
        gestures, and use the controls that accompany it.</p>
        <p>Finally there is a summary of the other relevant PDB information for
        the structure the site comes from.</p>
    </div>
</div>
{% endblock %}
