<div id="pdb-ngl" class="box">
    <div id="ngl-container"></div>
    <div class="ngl-controls">
        <div class="ngl-control">
            <label>Background</label>
            <input type="color" value="#ffffff" id="colorPicker">
        </div>

        <div class="ngl-control">
            <label>Site Surface</label>
            <span class="toggle-switch" id="surfaceToggle">
                <span class="toggle-knob"></span>
            </span>
        </div>

        <div class="ngl-control">
            <label>Spin</label>
            <span class="toggle-switch" id="spinToggle">
                <span class="toggle-knob"></span>
            </span>
        </div>

        <div class="ngl-control">
            <label>Protein Display</label>
            <form><select class="backbone">
                <option value="cartoon">Cartoon</option>
                <option value="ball+stick">Ball and Stick</option>
                <option value="line">Lines</option>
                <option value="backbone">Backbone</option>
                <option value="ribbon">Ribbon</option>
                <option value="rope">Rope</option>
                <option value="tube">Tube</option>
            </select></form>
        </div>
    </div>
    <div class="info">Double click protein for full-screen</div>
</div>
