{% extends "base.html" %}

{% block title %}Predict{% endblock %}

{% block main %}
<div class="column-container">
  <h1>Zinc Binding Site Prediction</h1>
  {% if request.GET.job %}
  <div id="pdb-ngl" class="box">
      <div id="ngl-container"></div>
      <div class="ngl-controls output">
      </div>
  </div>

  <div class="box predict-results">
    No zinc binding sites found yet.
  </div>
    <script src="/static/js/ngl-source.js"></script>
    <script>
    var stage = new NGL.Stage("ngl-container");
    function loadStructure(component) {
        $("canvas").css("background-color", "#ffffff");
        stage.component = component;
        component.addRepresentation("cartoon", {sele: "polymer and not ( water or ion )/0", color: "#fff"});
        component.autoView();
        stage.setSpin(true);
    }
    let storedValue = localStorage.getItem("pdb-" + {{ request.GET.job }});
    if (storedValue.length < 20) {
      stage.loadFile("rcsb://" + storedValue + ".mmtf").then(loadStructure);
    } else {
      if (storedValue.slice(0, 5) == "data:") {
        storedValue = Uint8Array.from(atob(storedValue.slice(37)), c => c.charCodeAt(0));
        var stringBlob = new Blob([storedValue], {type: "application/octet-stream"});
        stage.loadFile(stringBlob, {ext: "mmtf"}).then(loadStructure);
      } else {
        var stringBlob = new Blob([storedValue], {type: "text/plain"});
        if (storedValue.includes("_atom_site")) {
          stage.loadFile(stringBlob, {ext: "cif"}).then(loadStructure);
        } else {
          stage.loadFile(stringBlob, {ext: "pdb"}).then(loadStructure);
        }
      }
    }

    var rep;
    var resCode;
    function switchResidueColours() {
        /*var res = [
             "ALA", "ARG", "ASN", "ASP", "CYS", "GLU", "GLN", "GLY", "HIS", "ILE",
             "LEU", "LYS", "MET", "PHE", "PRO", "SER", "THR", "TRP", "TYR", "VAL"
        ];
        try {res.splice(res.indexOf(resCode), 1);;} catch (e) {}
        resCode = res[Math.floor(Math.random() * res.length)];

        try {rep.setVisibility(false);} catch (e) {}
        rep = stage.compList[0].addRepresentation("licorice", {
         color: "#472b52", sele: resCode
       });*/
    }
    window.setInterval(switchResidueColours, 250);
    </script>

    <script>
    var wait = 500;
    function doPoll(){
        $.get("{{ request.get_full_path }}&report", function(data) {
            var lines = data.split("\n\n");
            var html = "";
            var sites = [];
            for (line of lines) {
              if (line[0] == "_") {
                line = line.slice(1).split(" ");
                sites.push(line);
              } else {
                html += ("<div class='line" + (line[0] == "\t" ? " indented" : "") +"'>" + line.replace("<", "").replace(">", "") + "</div>");
              }
            }
            console.log(sites);
            $(".output")[0].innerHTML = html;
            wait *= 1.1;
            setTimeout(doPoll, wait);
        });
    }
    doPoll();
    </script>

  </div>
  {% else %}
  <div class="box structure-predict">
    <h2>Predict from Structure</h2>
    <form method="POST" enctype="multipart/form-data">
      <div  class="job-upload grid-2-tablet">
        <div class="structure-file">
          <input type="hidden" name="jobid" id="jobid">

          <input type="file" name="file" id="file" accept=".pdb,.cif,.mmcif,.mmtf"
          data-multiple-caption="{count} files selected">
          <label for="file">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" fill="#FFFFFF">
              <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3
              11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8
              2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2
              2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0
              1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
            </svg> <span>Upload Structure File</span>
          </label>
        </div>
        <div class="structure-code">
          <label>...or provide PDB code</label>
          <input type="text" name="code" id="code">
        </div>
      </div>
      <script>
        $("#jobid").val(new Date().getTime());
        $("#file").on("change", function() {
            $("#code").prop("disabled", true);
            var file = $("#file")[0].files[0];
            var reader = new FileReader();
            if ($("#file").val().includes("mmtf")) {
              reader.readAsDataURL(file);
            } else {
              reader.readAsText(file, "UTF-8");
            }
            reader.onload = function (evt) {
                try {
                    localStorage.setItem("pdb-" + $("#jobid").val(), evt.target.result);
                } catch (e) {
                    localStorage.clear();
                    localStorage.setItem("pdb-" + $("#jobid").val(), evt.target.result);
                }
            }
        })
        $("#code").on("input", function() {
          localStorage.setItem("pdb-" + $("#jobid").val(), $("#code").val());
        })
      </script>
      {% csrf_token %}
      <input type="submit" value="Go">
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
