{% extends "base.html" %}

{% block title %}Predict{% endblock %}

{% block main %}
<div class="column-container">
  {% if request.GET.job %}
  <div class="box">
    <h2>Scanning...</h2>
    <div id="pdb-ngl">
        <div id="ngl-container" class="ngl-full"></div>
    </div>
    <script src="/static/js/ngl-source.js"></script>
    <script>
    var stage = new NGL.Stage("ngl-container");
    var stringBlob = new Blob([localStorage.getItem("pdb-" + {{ request.GET.job }})], {type: "text/plain"});
    stage.loadFile(stringBlob, {ext: "pdb"}).then(function(component) {
        stage.component = component;
        component.addRepresentation("cartoon", {sele: "polymer and not ( water or ion )/0", color: "#fff"});
        component.autoView();
        stage.setSpin(true);
        $("canvas").css("background-color", "#ffffff");
    });
    var rep;
    var resCode;
    function switchResidueColours() {
        var res = [
             "ALA", "ARG", "ASN", "ASP", "CYS", "GLU", "GLN", "GLY", "HIS", "ILE",
             "LEU", "LYS", "MET", "PHE", "PRO", "SER", "THR", "TRP", "TYR", "VAL"
        ];
        try {res.splice(res.indexOf(resCode), 1);;} catch (e) {}
        resCode = res[Math.floor(Math.random() * res.length)];

        try {rep.setVisibility(false);} catch (e) {}
        rep = stage.compList[0].addRepresentation("licorice", {
         color: "#472b52", sele: resCode
        });
    }
    window.setInterval(switchResidueColours, 250);
    </script>

    <div class="output">
        <p>Job started...</p>
    </div>

    <script>
    var wait = 0;
    function doPoll(){
        $.get("{{ request.get_full_path }}&report", function(data) {
            var lines = data.split("\n\n");
            var html = "";
            for (line of lines) {
                html += ("<div class='line'>" + line + "</div>");
            }
            $(".output")[0].innerHTML = html;
            wait += 1000;
            setTimeout(doPoll, wait);
        });
    }
    doPoll();
    </script>
  </div>
  {% else %}
  <div class="box structure-predict">
    <h2>Predict from Structure</h2>
    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="jobid" id="jobid">
      <input type="file" name="file" id="file">
      <script>
        $("#jobid").val(new Date().getTime());
        $("#file").on("change", function() {
            var file = $("#file")[0].files[0];
            var reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload = function (evt) {
                try {
                    localStorage.setItem("pdb-" + $("#jobid").val(), evt.target.result);
                } catch (e) {
                    localStorage.clear();
                    localStorage.setItem("pdb-" + $("#jobid").val(), evt.target.result);
                }

            }
        })
      </script>
      {% csrf_token %}
      <input type="submit" value="Go">
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
