{% if results.num_pages > 1 %}
	<div id="search-nav" class="box">
		{% for page_num in results.page_range %}
		{% if results.num_pages <= 6  or page_num == 1 or page_num == page.number|add:-1 or page_num == page.number or page_num == page.number|add:1 or page_num == results.num_pages %}
		<a class="page-link{% if page_num == page.number %} selected"{% else %}" href="{{ request.get_full_path|pagify:page_num }}"{% endif %}">{{ page_num }}</a>
		{% elif page_num == 2 or page_num == page.number|add:2 %}
		<div class="page-link">...</div>
		{% endif %}
		{% endfor %}
	</div>
{% endif %}
