{% if results.num_pages > 1 %}
	<div id="search-nav" class="box">
		{% for page_num in results.page_range %}
		{% if results.num_pages <= 6  or page_num == 1 or page_num == page.number|add:-1 or page_num == page.number or page_num == page.number|add:1 or page_num == results.num_pages %}
		<a class="page-link{% if page_num == page.number %} selected"{% else %}" href="{{ request.get_full_path|pagify:page_num }}"{% endif %}">{{ page_num }}</a>
		{% elif page_num == 2 or page_num == page.number|add:2 %}
		<div class="page-link">...</div>
		{% endif %}
		{% endfor %}
	</div>
{% endif %}




<!--<a class="first-page" href="{{ request.get_full_path|pagify:1 }}"><<</a>
{% if page.has_previous %}<a class="previous-page" href="{{ request.get_full_path|pagify:page.previous_page_number }}">Previous Page</a>{% endif %}
{% if page.has_next %}<a class="next-page" href="{{ request.get_full_path|pagify:page.next_page_number }}">Next Page</a>{% endif %}
<a class="last-page" href="{{ request.get_full_path|pagify:results.num_pages }}">>></a>-->
