{% extends "base.html" %}

{% block title %}{{ site.id }}{% endblock %}

{% block main %}

<div class="non-grid-column-container">
    <h1>Zinc Binding Site: {{ site.id }}</h1>

    <div class="grid-2">
        <div class="box" id="site-info">
            <h3>PDB</h3>
            <div><a href="/pdbs/{{ site.pdb.id }}/">{{ site.pdb.id }}</a> ({{ site.pdb.title }})</div>
            {% if site.copies > 1 %}<div>({{ site.copies }} copies)</div>{% endif %}

            <h3>Metals ({{ site.coordination|join:", " }} Coordination)</h3>
            {% for metal in site.metal_set.all %}
            <div class="metal" data-ngl="{{ metal.ngl_sele }}">{{ metal.chain_pdb_identifier }}:{{ metal.residue_pdb_identifier }} ({{ metal.element }})</div>
            {% endfor %}

            <h3>Liganding Residues ({{ site.family }})</h3>
            {% for residue in site.residue_set.all %}
            <div class="residue" data-ngl="{{ residue.ngl_side_chain_sele }}">{{ residue.atomium }} ({{ residue.name }})</div>
            {% endfor %}
        </div>

        <div id="pdb-sites">
            <div class="scrollable box">
                {% if site.equivalent_sites %}
                <div><a href="/groups/{{ site.group.id }}/">Group</a></div>
                <div class="pdb-sites-count">{{ site.equivalent_sites.count }} equivalent site{{ site.equivalent_sites.count|pluralize }}.</div>
                <div class="pdb-sites-list">
                    {% for other_site in site.equivalent_sites %}
                    {% with other_site as site %}
                    {% include "zinc-site-summary.html" %}
                    {% endwith %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="no-sites"><p>There are no equivalent sites - this zinc site is
                    unique in the database.</p></div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "ngl-pdb.html" %}

    <div class="site-chains box">
        {% for csi in site.chainsiteinteraction_set.all %}
        <h3>Chain {{ csi.chain.chain_pdb_identifier }}{% if csi.spacers %} <span>Spacers: {{ csi.spacers }}</span>{% endif %}</h3>

        <div class="sequence">{{ csi.sequence }}</div>
        {% endfor %}
    </div>

    {% with site.pdb as pdb %}
    {% include "pdb-info.html" %}
    {% endwith %}
</div>
{% endblock %}

{% block endjs %}
    <script src="/static/js/ngl-source.js"></script>
    <script src="/static/js/ngl.js"></script>
    <script>
        var bonds = [];
        {% for bond in site.coordinatebonds %}
        bond = [];
        bond.push([{{ bond.metal.x }}, {{ bond.metal.y }}, {{ bond.metal.z }}]);
        bond.push([{{ bond.atom.x }}, {{ bond.atom.y }}, {{ bond.atom.z }}]);
        bonds.push(bond)
        {% endfor %}
        drawNgl("{{ site.pdb.id }}", "{{ site.pdb.assembly }}", "{{ site.ngl_metals_sele|safe }}", "{{ site.ngl_residues_sele|safe }}", bonds, [0, 0, 0]);
        setUpControls();
    </script>
{% endblock %}
