body {
  margin: 0px;
  font-family: 'Nunito';
}

nav {
  padding-left: 5%;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav, #nav-links {
  height: 75px;
  line-height: 75px;
  background-color: #904e4e;
  color: #FFFFFF;
}

nav #logo {
  font-family: Cinzel;
  font-weight: bold;
}

#nav-links {
  margin: 0px;
  margin-right: 5%;
  padding: 0px;
  width: 50%;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

#nav-links li {
  list-style-type: none;
  display: inline;
  padding: 0px;
  padding-left: 4%;
  padding-right: 4%;
}

nav #mobile-menu {
  display: none;
}

main {
  min-height: calc(75vh);
}

footer {
  background-color: #f1ecee;
  color: #502c38;
  font-size: 80%;
  line-height: 200%;
  padding-top: 40px;
  padding-bottom: 10px;
}

footer .footer-list {
  display: inline-block;
  width: 50%;
  margin: 0px;
  margin-bottom: 30px;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

footer .footer-header {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 8px;
}

footer a {
  display: block;
  color: inherit;
}

#copyright {
  color: #AAAAAA;
  text-align: center;
}

@media only screen and (max-width: 769px) {
  /* iPad and down */
  #nav-links {
    display: none;
    margin: 0px;
    position: static;
    background-color: #af5e5e;
    width: 100%;
    height: auto;
  }

  #nav-links li {
    display: block;
    text-align: center;
    line-height: 40px;
    border: 1px solid #904e4e;
    padding: 0px;
  }

  nav #mobile-menu {
    display: block;
    flex-grow: 100;
    margin-right: 20px;
    text-align: right;
    cursor: pointer;
  }

  nav #mobile-menu-icon {
    display: inline;
  }

  footer .footer-list {
    display: block;
    width: 100%;
  }

}
