body {
  margin: 0px;
  font-family: 'Nunito';
}

nav {
  padding-left: 5%;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#c57a7a, #9a6464, #904e4e);
}

nav, #nav-links {
  height: 55px;
  line-height: 55px;
  color: #FFFFFF;
}

nav #logo {
  font-family: Cinzel;
  font-weight: bold;
}

#nav-links {
  margin: 0px;
  margin-right: 5%;
  padding: 0px;
  width: 50%;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

#nav-links li {
  list-style-type: none;
  display: inline;
  padding: 0px;
  padding-left: 4%;
  padding-right: 4%;
}

#logo a, #nav-links a {
  color: inherit;
  text-decoration: inherit;
}

nav #mobile-menu {
  display: none;
}

main {
  min-height: calc(75vh);
  margin: 20px;
  position: relative;
}

footer {
  background-color: #f1ecee;
  color: #502c38;
  font-size: 80%;
  line-height: 200%;
  padding-top: 40px;
  padding-bottom: 10px;
}

footer .footer-list {
  display: inline-block;
  width: 50%;
  margin: 0px;
  margin-bottom: 30px;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

footer .footer-header {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 8px;
}

footer a {
  display: block;
  color: inherit;
}

#copyright {
  color: #AAAAAA;
  text-align: center;
}

.logged-in {
  background-color: green;
  color: silver;
  padding-left: 2px;
  padding-right: 2px;
}

form {
  border: 1px solid silver;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  padding: 40px;
}

form h1 {
  margin-top: 0px;
}

input {
  display: block;
  font-size: 200%;
  padding: 8px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

fieldset {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 15px;
  padding: 30px;
  width: auto;
}

input[type='text'], input[type='password'] {
  width: 100%;
}

input-placeholder {
  color: red;
}

input[type='submit'] {
  color: #EEEEEE;
  background-color: #904e4e;
  cursor: pointer;
}

.error-message {
  color: #D8000C;
  background-color: #FFBABA;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.edit-link {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000099;
  padding: 2px;
  border-radius: 3px;
}

.edit-link a {
  color: white;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-radius: 40px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f9f2f2;
}

tr:nth-child(even) {
  background-color: #fbfafa;
}

tr td:first-child {
  width: 20%;
}

td {
  padding: 5px;
}

@media only screen and (max-width: 769px) {
  /* iPad and down */
  #nav-links {
    display: none;
    margin: 0px;
    position: static;
    background-color: #af5e5e;
    width: 100%;
    height: auto;
  }

  #nav-links li {
    display: block;
    text-align: center;
    line-height: 40px;
    border: 1px solid #904e4e;
    padding: 0px;
  }

  nav #mobile-menu {
    display: block;
    flex-grow: 100;
    margin-right: 20px;
    text-align: right;
    cursor: pointer;
  }

  nav #mobile-menu-icon {
    display: inline;
  }

  footer .footer-list {
    display: block;
    width: 100%;
  }

  form {
    margin-left: 0px;
    margin-right: 0px;
  }

}
