.release {
  padding: 20px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.8;
  background-color: rgba(108, 52, 122, 0.05);
  width: 100%;
  font-size: 120%;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
}

.release h2 {
  margin-bottom: 5px;
  padding-left: 0px;
}

.release h2 a {
  color: inherit;
  text-decoration: inherit;
}

.release-date {
  font-style: italic;
}

.release ul {
  list-style-type: circle;
  padding-left: 40px;
}

p {
  line-height: 2;
}