.release {
  border: 1.25px solid #D0D0D0;
  padding: 20px 50px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  background-color: rgba(108, 52, 122, 0.05);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
}

.release h2 {
  margin-bottom: 5px;
  padding-left: 0px;
}

.release h2 a {
  color: inherit;
  text-decoration: inherit;
}

.release-date {
  font-style: italic;
}

.release ul {
  list-style-type: circle;
  padding-left: 40px;
}

p {
  line-height: 2;
}