body {
  margin: 0px;
  font-family: 'Source Sans Pro';
  line-height: 150%;
}

header {
  padding-left: 5%;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #67317d;
}

header, nav {
  height: 55px;
  line-height: 55px;
  color: #FFFFFF;
}

nav {
  margin: 0px;
  margin-right: 5%;
  padding: 0px;
  width: 50%;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

nav li {
  list-style-type: none;
  display: inline;
  padding: 0px;
  padding-left: 4%;
  padding-right: 4%;
}

#logo {
  font-weight: bold;
  font-family: 'Exo 2';
}

#logo a, nav a {
  color: inherit;
  text-decoration: inherit;
}

#mobile-menu {
  display: none;
}

main {
  min-height: calc(75vh);
  margin: 20px;
  position: relative;
  font-size: 90%;
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  background-color: #efe5f3;
  color: #67317d;
  font-size: 80%;
  line-height: 200%;
  padding-top: 40px;
  padding-bottom: 10px;
}

footer .footer-list {
  display: inline-block;
  width: 50%;
  margin: 0px;
  margin-bottom: 30px;
  height: 100%;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
}

footer .footer-header {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 8px;
}

footer a {
  display: block;
  color: inherit;
}

#copyright {
  color: #AAAAAA;
  text-align: center;
}

.row {
  display: flex;
}

.half-width {
  flex-basis: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
}

.box {
  border: 1px solid rgba(200, 200, 200, 0.8);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  margin: 0px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: center;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 120%;
}


@media only screen and (max-width: 769px) {
  /* iPad and down */
  nav {
    display: none;
    margin: 0px;
    position: static;
    background-color: #8c5f9e;
    width: 100%;
    height: auto;
  }

  nav li {
    display: block;
    text-align: center;
    line-height: 40px;
    border: 1px solid #67317d;
    padding: 0px;
  }

  #mobile-menu {
    display: block;
    flex-grow: 100;
    margin-right: 20px;
    text-align: right;
    cursor: pointer;
  }

  #mobile-menu-icon {
    display: inline;
  }

  main {
    min-height: calc(75vh);
    margin: 20px;
    position: relative;
    font-size: 90%;
  }

  footer .footer-list {
    display: block;
    width: 100%;
  }

  .row {
    flex-flow: row wrap;
  }

  .half-width {
    flex-basis: 100%;
      margin-bottom: 30px;
  }

  .box {
  }

}
