#result-count {
    text-align: center;
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-links div {
    width: 50%;
    display: inline-block;
}

.page-links td {
    padding-top: 15px;
}

.page-links td, .page-links {
    border: none;
}

.page-links:hover {
    background-color: inherit;
}

.page-links a {
    text-decoration: none;
    font-size: 120%;
}

.page-links a:visited {
    color: blue;
}

td, th {
    font-size: 80%;
    padding: 5px;
}

.search-row {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 20px;
    border-radius: 15px;
    border: 1px solid silver;
}

.search-heading {
  background-color: #f1ecf0;
  border-bottom: 1px solid silver;
  font-weight: bold;
  padding: 2px;
  font-size: 120%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

select {
    width: 260px;
    margin-right: 10px;
    padding: 4px;
    border-radius: 5px;
}

.search-row input {
    display: inline;
    margin-left: 10px;
    flex-grow: 5
}

.search-row button {
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  border: none;
  background-color: #FFBABA;
  color: #D8000C;
  font-weight: bold;
  margin-left: 10px;
}

.add-row {
  display: block;
  font-size: 110%;
  width: 90px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

input[type='submit'] {
    margin-top: 15px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;  
}

@media only screen and (max-width: 769px) {
  /* iPad and down */

  .search-row {
      width: 90%;
  }

  select {
      font-size: 100%;
      margin-right: 5px;
  }

  .search-con {
      font-size: 100%;
      font-style: italic;
  }

  .search-row input {

      margin-left: 5px;
  }
}
