/*.row:first-child {
    background-color: lightblue;
}

.row:first-child .left {
    background-color: lightgreen;
}

.row:first-child .right {
    background-color: lightyellow;
}*/

#site {
    margin-top: 20px;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

#ngl-container {
    height: 400px;
    overflow: hidden;
    margin: 10px;
    border: 1px solid silver;
    border-radius: 10px;
}

#site-pdb {
    margin-top: 20px;
    margin-bottom: 50px;
}

#site-residues {
    margin-top: 50px;
    margin-bottom: 50px;
}

td:first-child {
	font-weight: bold;
}

td:last-child {
	text-align: left;
}

h2 {
	margin-left: calc(2.5% + 10px);
	padding-left: 0px;
}


@media only screen and (max-width: 769px) {
  /* iPad and down */
  h2 {
	margin-left: calc(5% + 20px)
  }
}
