/*.row {
    background-color: lightblue;
}

 .left {
    background-color: lightgreen;
}

.right {
    background-color: lightyellow;
}*/

#site {
    margin-top: 20px;
}

#ngl-container {
    height: 400px;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid silver;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#ngl-container .box-header {
    background-color: #f1ecf0;
    border-bottom: 1px solid silver;
    font-weight: bold;
    padding: 2px;
    font-size: 120%;
}

#ngl-site {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.box-legend {
    width: calc(90% - 10px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid silver;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-style: italic;
    padding: 5px;
    background-color: #f1ecf0;
}

.gui-selector {
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.gui-selector select {
    margin-left: 8px;
}

.gui-selector code {
    display: block;
    margin-top: 10px;
}

label {
    font-weight: bold;
}

.site-residues {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.site-residues h2 {
    margin-left: 0px;
}

#site-pdb {
    margin-top: 20px;
    margin-bottom: 50px;
}

#site-residues {
    margin-top: 50px;
    margin-bottom: 50px;
}

td:first-child {
	font-weight: bold;
  font-size:105%;
}

td:last-child {
	text-align: left;
}

h2 {
	margin-left: calc(2.5% + 10px);
	padding-left: 0px;
}

.residue {
  display: inline-block;
  width: 49%;
  font-size: 90%;
}

.residue ul {
  margin: 0px;
  padding-left: 25px;
  list-style-type: square;
}

.other-sites td {
  font-weight: normal;
  text-align: center;
}

@media only screen and (max-width: 769px) {
  /* iPad and down */
  h2 {
	margin-left: calc(5% + 20px)
  }
}
