.residue-input {
  display: inline-block;
  display: flex;
  align-items: stretch;
  margin: 0px;
  margin-bottom: 5px;
}

.residue-input input {
  width: 80%;
  display: inline-block;
  margin: 0px;
  box-sizing: border-box;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.residue-input button {
  display: inline-block;
  margin: 0px;
  box-sizing: border-box;
  border: 0px;
  background-color: #FFBABA;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
}

#new-residue-input {
  margin-top: 10px;
  background-color: #CEFDCE;
  cursor: pointer;
  border: 0px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  font-size: 100%;
  font-weight: bold;
}
