.about-box {
	padding: 2 * $gap;
	text-align: center;
}

.release {
	@include margin-vert($gap / 2);

	h2 {
		text-align: center;

		a {
			color: darken($hyperlink-blue, 10%);
		}
	}

	.release-date {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: $gap * 1.5;
    }

    ul {
        list-style: square;
		margin-left: 4 * $gap;
		@include margin-vert($gap);

        li {
            margin-bottom: 0.5rem;
        }
    }
}

table.api-table {
	width: fit-content;
	@include margin-side(auto);

	td {
		padding: 0.25rem;
        width: 50%;

        a {
            word-break: break-word;
        }

	}

	td:first-child {
		text-align: right;
	}

	td:last-child {
		text-align: left;
	}
}

.charts {
	margin-top: 1rem;

	.chart-container {
	    margin: 0px;
	    box-sizing: border-box;

	    .chart {
	        @include white-box;
	        box-sizing: border-box;
	        width: 100%;
	        margin-bottom: $gap;
	        padding: 2 * $gap;
	    }
	}
}


.advanced-searcher {

	.search-term {
        display: flex;
        height: 7rem;

        select {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            margin-right: -1px;
            flex-grow: 2;
            font-size: 0.9em;
            width: fit-content;
        }

        input {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            flex-grow: 1;
        }

        .delete-button {
            background-image: url("/static/images/cross.png");
            background-clip: content-box;
            cursor: pointer;
            flex-grow: 0.5;

			img {
				width: 2rem;
				height: 2rem;
			}
        }
    }

	button#new-term {
		margin-bottom: 4rem;
        background-image: linear-gradient(to bottom, lighten($button-color, 5%), $button-color);
    }
}

div.search-head {

	padding : $gap;
	h2 {
		span {
			font-size: 0.6em;
			margin-left: $gap;
		}
	}

	select {
		margin-top: 2 * $gap;
		max-width: 25rem;
		@include margin-side(auto);
	}
}

.search-result {
	@include white-box;
	margin-top: $gap;
	margin-bottom: $gap;

	a {
        color: inherit;
        display: block;
    }

    a:hover {
        background-image: radial-gradient($hover-color, $hover-color);
    }

	.pdb-result {
        font-size: 0.8em;

        div {
            background-color: #ffffff00;
        }

        .pdb-result-main {
            border-bottom: 1px solid $border-gray;
            display: flex;

            div {
                display: flex;
                align-items: center;
                padding: 5px;
                border-right: 1px solid $border-gray;
            }

            div:first-child {
                font-size: 1.7em;
            }

            div:last-child {
                border-right-width: 0px;
				font-style: italic;
            }
        }

        .pdb-title {
            padding: $gap / 2;
        }

        .pdb-secondary {
            padding: $gap / 2;
            border-bottom: 1px solid $border-gray;
        }

        .sequence-alignment {
            padding: $gap;
            overflow-y: scroll;
            border-bottom: 1px solid $border-gray;

            .alignment-row {
                font-family: monospace;
                white-space: pre;
                width: fit-content;
                @include margin-side(auto);
            }
        }
	}

    .site-results {
        margin-left: 10%;
        border-left: 1px solid $border-gray;
        box-sizing: border-box;

        .pdb-site {
            background-image: linear-gradient(to bottom, $white 0%, darken($white, 1%) 44%, darken($white, 2%) 100%);
            padding: $gap;
            font-size: 0.8em;
            border-bottom: 1px solid $border-gray;
            box-sizing: border-box;

            div {
                background-color: #ffffff00;
            }

            .pdb-site-id {
                font-weight: bold;
            }
        }

        .pdb-site:hover {
            background-image: radial-gradient($hover-color, $hover-color);
        }

        .pdb-site:last-child {
            border-bottom: none;
        }
    }
}

#search-nav {
    display: flex;
	margin-top: $gap;
	margin-bottom: $gap;
	justify-content: center;
	padding: 0px;
	width: fit-content;
    width: -moz-fit-content;
	@include margin-side(auto);
	border-radius: $curvature * 3;

	$page-link-width: 4rem;
	.page-link {
		width: $page-link-width;
		height: $page-link-width;
		display: block;
        text-align: center;
		vertical-align: middle;
		border: 1px solid $border-gray;
		line-height: $page-link-width;
		margin-right: -1px;
		font-size: 1.25em;
	}

	.page-link:first-child {
		border-top-left-radius: $curvature * 3;
		border-bottom-left-radius: $curvature * 3;
	}

	.page-link:last-child {
		border-top-right-radius: $curvature * 3;
		border-bottom-right-radius: $curvature * 3;
	}

	.page-link.selected {
		box-shadow: inset 0 0 ($page-link-width * 0.25) $border-gray;
		color: #000;
		cursor: default;
	}

    div.page-link {
		line-height: $page-link-width * 0.85;
	}
}

#pdb-info {
    .pdb-info-columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: -5px;
    }

    .pdb-info-row {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

#pdb-chains {

	padding-left: 4 * $gap;

	h3 {
		margin-left: -2 * $gap;
		margin-top: 2 * $gap;
	}

	.count {
		font-size: 1.2em;
	}

	.chains {
		h3 {
			margin-top: 0px;
		}


	}


}

#pdb-sites {
    .pdb-sites-count {
    }

    .pdb-sites-list {
		margin-top: $gap;
        border: 1px solid #e6ecf0;
        border-radius: 5px;

        .pdb-site {
            border-bottom: 1px solid #e6ecf0;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
            padding: 8px;
            box-sizing: border-box;
            font-size: 100%;
            display: block;
            cursor: pointer;
            color: inherit;

            div {
                background-color: #ffffff00;
            }

            .pdb-site-id {
                font-weight: bold;
            }

            .pdb-site-residue-count {
                font-size: 95%;
            }

            .pdb-site-residue {
                font-size: 70%;
            }
        }

        .pdb-site:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .pdb-site:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-width: 0px;
        }

        .pdb-site:hover {
            background-color: $hover-color;
            transition: 0.4s;
        }
    }
}

#pdb-ngl {
    padding: 0px;
    display: block;
    box-sizing: border-box;
    background-color: #fcfcfc;

    #ngl-container {
        height: 350px;
        background-color: #ffffff;
        background-image: url(/static/images/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

    .ngl-controls {
        border-top: 1px solid $border-gray;
        padding: 1rem;
        flex-grow: 2;


        .ngl-control {

            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            label {
                margin-right: 1rem;
                width: 50%;
                text-align: right;
                display: block;
            }

            input[type=color] {
                width: 5rem;
                padding: 0px;
                cursor: pointer;
            }

            .toggle-switch, .toggle-switch .toggle-knob {
                -moz-transition: all 0.2s ease-in;
                -webkit-transition: all 0.2s ease-in;
                -o-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
            }

            .toggle-switch {
                -webkit-appearance: none;
                -moz-appearance: none;
                height: 30px;
                width: 55px;
                display: inline-block;
                background-color: #ffffff;
                margin: 2px;
                margin-bottom: 5px;
                border-radius: 30px;
                cursor: pointer;
                border: solid 1px #d2d6de;
                box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
            }

            .toggle-switch .toggle-knob {
                width: 28px;
                height: 26px;
                display: inline-block;
                background-color: #ffffff;
                border: solid 1px rgba(126, 126, 126, 0.07);
                box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
                border-radius: 26px;
                margin: 1px 1px;
            }

            .toggle-switch.active {
                background-color: #77e189;
                border: solid 1px transparent;
            }

            .toggle-switch.active .toggle-knob {
                margin-left: 24px;
            }
        }
    }

		.output {
			text-align: left;
		}

    .info {
        padding: $gap / 2;
        font-size: 0.9em;
        text-align: center;
        font-style: italic;
		color: $hyperlink-blue;
		cursor: pointer;
    }


}

.ngl-full {
	width: 100% !important;
}

#site-info {

	.metal, .residue {
        display: inline-block;
        padding: $gap;
        margin-right: $gap / 3;
        border: 1px solid $border-gray;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        @include margin-vert($gap / 3);
        cursor: pointer;
	}

    .active {
        background-color: #16a08520;
    }
}

.families {
	border: 1px solid #e6ecf0;
	border-radius: $curvature;

	.family {
		padding: $gap;
		border-top: 1px solid #e6ecf0;
		cursor: pointer;
		background-color: lighten($purple, 75);
	}

	.family:first-child {
		border-top: none;
        border-top-left-radius: $curvature;
        border-top-right-radius: $curvature;
	}

    .family:nth-last-child(2) {
        border-bottom-left-radius: $curvature;
        border-bottom-right-radius: $curvature;
    }

	.groups-container {
		display: none;
		border-top: 1px solid #e6ecf0;

		.groups {
			box-shadow: inset 0px 11px 15px -10px #DDD,
			inset 0px -11px 15px -10px #DDD,
			inset 11px 0px 15px -10px #DDD,
			inset -11px 0px 15px -10px #DDD;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1px;
			background-color: #eee;
            font-size: 0.75em;

			.group {
				padding: $gap;
				background-color: #ffffff00;
				text-align: center;
				background-color: white;
        color: inherit;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
        display: flex;
        justify-content: center;
        flex-direction: column;

        div {
            background-color: #ffffff00;
            cursor: pointer;
        }

        .classifications {
            font-size: 0.8em;
        }
			}

            .group:hover {
                background-image: radial-gradient($hover-color, $hover-color);
                transition: 0.5s;
            }
		}
	}
}

.job-upload {

		align-items: end;
		margin-bottom: 5rem;

		.structure-file {
			margin-top: 3rem;
			align-items: baseline;
		}

		.structure-code {
			margin-top: 3rem;
			@include margin-side(4rem);
			display: flex;
			flex-direction: column;
			text-align: center;

			input {
				margin-bottom: 0px;
			}
		}
}

.predict-results {
	text-align: center;
	font-style: italic;

	h2 {
		font-style: normal;
	}

	.predicted-sites {
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-style: normal;
		font-size: 0.8em;

		.predicted-site {
			display: inline-block;
			padding: $gap / 2;
			margin-right: $gap / 3;
			border: 1px solid $border-gray;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
			@include margin-vert($gap / 3);
			cursor: pointer;

			.site-family {
				font-weight: bold;
				font-size: 1.1em;
			}

			.site-score {
				font-size: 0.9em;
			}
		}
	}

}

#home-1 {
    background-color: $pale-purple;
    text-align: center;

    #site-description {
        padding: 3rem;
        margin-bottom: 4rem;

        h1 {
            margin-bottom: 4rem;
            font-size: 2.5em;
            line-height: 1.5;
            padding: 1rem;
            font-weight: bold;
            box-shadow: none;
            background-color: inherit;
        }

        p {
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 2;
        }
    }

    #site-search {
        display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;

		.small-link {
			width: 90%;
			text-align: left;
			@include margin-side(5rem);
			font-size: 0.9em;
			text-indent: 1rem;
		}

        form {
            margin-bottom: 4rem;
            display: flex;
            height: 4.5rem;
            width: 90%;
            @include margin-side(5rem);

            input[type=text] {
                flex-grow: 5;
                border-radius: 0px;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border-right-width: 0px;
                box-sizing: border-box;
                display: inline;
                width: inherit;
                height: 100%;
				margin-top: 0.2rem;
            }

            input[type=submit] {
                border-radius: 0px;
                height: 100%;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                background-color: #4A9586;
                background-image: none;
                color: $white;
                border-color: #00640022;
                font-size: 0.8em;
                padding: 0px;
                padding-left: 0.8rem;
                padding-right: 0.8rem;
                display: inline;
				margin-top: 0.2rem;
            }
        }
    }
}


#home-2 {
    background-color: #ffffff;

    div {
        padding: 2.5 * $gap;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 2;
        }
    }

    #home-picture img {
        width: 90%;
        @include margin-side(auto);
    }

}

.thanks-grid {
    display: grid;
    margin-bottom: 2 * $gap;

    .thanks {
        width: 60%;
        @include margin-side(auto);
        @include margin-vert(2 * $gap);
    }
}

#page-not-found {
    @include white-box;
    font-size: 2em;
    padding: 3 * $gap;
    text-align: center;
}



@mixin components--tablet() {
	.about-box {
		padding: 4 * $gap;
	}

    #pdb-ngl {
        .ngl-controls {

            font-size: 0.9em;
            justify-content: space-around;

            .ngl-control {
                label {
                    display: inline;
                    width: inherit;
                }
            }
            display: flex;
            align-items: center;
        }

				.output {
					display: block;
				}
    }

    .thanks-grid {
        grid-template-columns: 1fr 1fr;

        .thanks {
            width: 60%;
        }
    }

	#search-nav {

		$page-link-width: 5rem;
		.page-link {
			width: $page-link-width;
			height: $page-link-width;
			line-height: $page-link-width;
		}	border-bottom-right-radius: $curvature * 3;

		.page-link.selected {
			box-shadow: inset 0 0 ($page-link-width * 0.25) $border-gray;
		}

	    div.page-link {
			line-height: $page-link-width * 0.85;
		}
	}

    #home-2 {
        #site-more-info {
            margin-bottom: 4 * $gap;
        }
    }

    .families {

    	.family {

    	}

    	.family:first-child {

    	}

    	.groups-container {


    		.groups {
    			grid-template-columns: 1fr 1fr;

    			.group {

    			}
    		}
    	}
    }

		.predict-results {
			.predicted-sites {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
}


@mixin components--laptop() {
	.about-box {
		padding-left: 6 * $gap;
		padding-right: 6 * $gap;
	}

	.chart-container {
		display: inline-block;
		width: 50%;

		.chart {
			margin: 0px;
		}
	}

	.chart-container:nth-child(odd) {
		padding-right: $gap / 2
	}

	.chart-container:nth-child(even) {
		padding-left: $gap / 2
	}

    #pdb-ngl {
        display: flex;
        position: relative;

        #ngl-container {
            width: 75%;
        }

        .ngl-controls {
            border-left: 1px solid $border-gray;
            border-top: none;
            flex-direction: column;

            .ngl-control {
                width: 100%;

                label {
                    width: 35%;
                }
            }
        }

				.output {
					display: block;
				}

        .info {
            position: absolute;
            bottom: $gap * 0.6;
            right: $gap;
        }
    }

    .thanks-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .thanks {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

	.thanks-grid-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

    .families {

    	.family {

    	}

    	.family:first-child {

    	}

    	.groups-container {


    		.groups {
    			grid-template-columns: 1fr 1fr 1fr 1fr;

    			.group {

    			}
    		}
    	}
    }

		.predict-results {
			.predicted-sites {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
}

@mixin components--desktop() {
    main {

        #site-description, #home-picture {
            box-sizing: border-box;
            width: $desktop-width / 2;
            margin-left: auto;
        }

        #site-search, #site-more-info {
            box-sizing: border-box;
            width: $desktop-width / 2;
            margin-right: auto;
        }
    }
}
