// Top-level containers that nest immediately within <main></main>. Usually
// just one per page, or one after the other in a column.

.home-container {
    display: grid;
    grid-gap: 0px;
}

.column-container {
    max-width: $laptop-width;
    @include margin-side(auto);
    grid-gap: $padding;
}

.small-container {
    display: grid;
    max-width: $tablet-width;
    @include margin-side(auto);
    grid-gap: $padding;
}


@mixin containers--tablet() {

}


@mixin containers--laptop() {

    .home-container {
        grid-template-columns: 1fr 1fr;
    }

}
