.column-container {
    max-width: $laptop-width;
    @include margin-side(auto);
    grid-gap: $gap;
	display: grid;

	h1 {
		margin: 0px;
	}
}

.non-grid-column-container {
    max-width: $laptop-width;
    @include margin-side(auto);

    .box, #pdb-ngl {
        margin-bottom: 1rem;
    }
}

.small-column-container {
	max-width: $tablet-width;
    @include margin-side(auto);
    grid-gap: $gap;
	display: grid;

	h1 {
		margin: 0px;
	}
}

.home-container {
    display: grid;
    grid-gap: 0px;
}


@mixin containers--tablet() {
    .grid-2-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $gap;
        margin-top: 2 * $gap;

        form {
            text-align: right;

            input {
                display: inline;
            }
        }

        form:last-child {
            text-align: left;
        }
    }
}
@mixin containers--laptop() {

    .home-container {
        grid-template-columns: 1fr 1fr;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $gap;

        div {
            margin-top: 0px;
        }

        #pdb-sites {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

}
