// Default styling for a few core tags

a {
    color: $hyperlink-blue;
    text-decoration: none;
}

h1 {
    font-weight: normal;
    margin: 0px;
    @include white-box;
    text-align: center;
    padding: 2 * $padding;
}
