a {
	color: $hyperlink-blue;
}

strong {
    font-weight: bold;
}

label {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin-bottom: $gap;
	@include white-box;
	padding: 2 * $gap;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	@include margin-vert($gap);
	text-align: center;
}

h3 {
	font-size: 1.4em;
	@include margin-vert($gap);

    span {
        font-size: 0.6em;
        margin-left: $gap;
    }
}

p {
	@include margin-vert($gap);
	line-height: 1.8;
	text-align: center;
}

img {
	display: div;
	width: 100%;
	height: auto;
}

input, select, button, textarea {
	display: block;
	padding: 1rem;
	width: 100%;
	background-color: $white;
	border-radius: $curvature;
	border: 1px solid $border-gray;
	margin-top: $gap;
	margin-bottom: $gap;
}

input[type=text], input[type=date] {
	@include depressed-shadow;
}

textarea {
	height: 25rem;
	font-family: monospace;
	margin-bottom: 2 * $gap;
}

$select-box-width: 3rem;
$select-arrow-width: 1rem;
$select-arrow-height: 0.5rem;
$select-line-margin: 0.5rem;
select {
	background-image: linear-gradient(45deg, transparent 50%, $border-gray 50%),
            		  linear-gradient(135deg, $border-gray 50%, transparent 50%),
                      linear-gradient(to right, $border-gray, $border-gray);
	background-position: calc(100% - #{$select-box-width / 2}) calc(50%),
	                     calc(100% - #{$select-box-width / 2} + #{$select-arrow-width / 2}) calc(50%),
						 calc(100% - #{$select-box-width}) calc(100% - #{$select-line-margin});
	background-size: $select-arrow-width / 2 $select-arrow-height,
	                 $select-arrow-width / 2 $select-arrow-height,
					 1px calc(100% - #{2 * $select-line-margin});
	background-repeat: no-repeat;
	background-color: $cream;
	padding-right: $select-box-width + 0.5rem;
	cursor: pointer;
	}

input[type=submit], button {
	width: auto;
	cursor: pointer;
	@include margin-side(auto);
	background-color: $purple;
	color: $white;
	border: none;
	background-image: linear-gradient(to bottom, lighten($purple, 15%), $purple);
}

.box {
	padding: $gap;
	@include white-box;
}

.error-message {
    font-size: 0.9em;
    color: $error-red;
	margin-bottom: -$gap / 2;
}

.scrollable {
    overflow-y: scroll;
    max-height: 35rem;
    width: 100%;
}

.sequence {
	font-family: monospace;
	white-space: pre;
	color: lighten($black, 20);
	overflow-y: scroll;
    padding-bottom: 2 * $gap;

	span {
		font-family: monospace;
		white-space: pre;
	}

	.binding {
		color: $black;
		font-weight: bold;
	}
}


@mixin core--tablet() {
	.box {
		padding: 2 * $gap;
	}
}
