
.pdb-box {
    @include white-box;
    padding: $padding;
    margin-top: $padding;
}

#pdb-info {
    .pdb-info-columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: -5px;
    }

    .pdb-info-row {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}







#pdb-chains {
    .chain {
        margin-left: 20px;
    }

    .chain-sequence {
        font-family: monospace;
    }
}

#pdb-sites {
    .pdb-sites-count {
        padding-bottom: 15px;
    }

    .pdb-sites-list {
        border: 1px solid #e6ecf0;
        border-radius: 5px;

        .pdb-site {
            border-bottom: 1px solid #e6ecf0;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
            padding: 8px;
            box-sizing: border-box;
            font-size: 100%;
            cursor: pointer;

            a {
                color: inherit;
            }

            div {
                background-color: #ffffff00;
            }

            .pdb-site-id {
                font-weight: bold;
            }

            .pdb-site-residue-count {
                font-size: 95%;
            }

            .pdb-site-residue {
                font-size: 70%;
            }
        }

        .pdb-site:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .pdb-site:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-width: 0px;
        }

        .pdb-site:hover {
            background-color: $hover-color;
            transition: 0.4s;
        }
    }
}

.scrollable {
    overflow-y: scroll;
    max-height: 50rem;
}

#pdb-ngl {
    padding: 0px;
    display: block;
    box-sizing: border-box;

    #ngl-container {
        height: 350px;
    }

    .ngl-controls {
        border-top: 1px solid $border-gray;
        padding: 1rem;
        background-color: #fcfcfc;
        flex-grow: 2;


        .ngl-control {

            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            label {
                margin-right: 1rem;
                width: 10rem;
                text-align: right;
                display: block;
            }


            .color-options {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: auto;
                margin-left: 0.5rem;

                input[type=radio] {
                    width: 30px;
                    height: 30px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    margin: 0px;
                    margin-left: -1px;
                    cursor: pointer;
                }

                input[type=radio]:checked {
                    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                }
            }
        }
    }
}

.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.toggle-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    width: 55px;
    display: inline-block;
    background-color: #ffffff;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #d2d6de;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
    width: 28px;
    height: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px;
}

.toggle-switch.active {
    background-color: #77e189;
    border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
    margin-left: 24px;
}

#site-info {
    .site-info-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@mixin data--tablet() {
    .pdb-box {
        padding: 2 * $padding;
    }

    #site-info {
        .site-info-columns {
            grid-template-columns: 2fr 1fr;

            .site-info-column {
                text-align: center;
            }

            .site-info-column:first-child {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

        }
    }
    #pdb-ngl {
        .ngl-controls {

            font-size: 0.9em;
            justify-content: space-around;

            .ngl-control {
                label {
                    display: inline;
                    width: inherit;
                }
            }
            display: flex;
            align-items: center;
        }
    }
}

@mixin data--laptop() {
    #pdb-ngl {
        display: flex;

        #ngl-container {
            width: 75%;
        }

        .ngl-controls {
            border-left: 1px solid $border-gray;
            border-top: none;
            flex-direction: column;
        }
    }
}
