
.pdb-box {
    @include white-box;
    padding: $padding;
    margin-top: $padding;
}

#pdb-info {
    .pdb-info-columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: -5px;
    }

    .pdb-info-row {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}




#pdb-chains {
    .chain {
        margin-left: 20px;
    }

    .chain-sequence {
        font-family: monospace;
    }
}

#pdb-sites {
    .pdb-sites-count {
        padding-bottom: 15px;
    }

    .pdb-sites-list {
        border: 1px solid #e6ecf0;
        border-radius: 5px;

        .pdb-site {
            border-bottom: 1px solid #e6ecf0;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
            padding: 8px;
            box-sizing: border-box;
            font-size: 100%;
            cursor: pointer;

            a {
                color: inherit;
            }

            div {
                background-color: #ffffff00;
            }

            .pdb-site-id {
                font-weight: bold;
            }

            .pdb-site-residue-count {
                font-size: 95%;
            }

            .pdb-site-residue {
                font-size: 70%;
            }
        }

        .pdb-site:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .pdb-site:last-child {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-width: 0px;
        }

        .pdb-site:hover {
            background-color: $hover-color;
            transition: 0.4s;
        }
    }
}

#pdb-ngl {
    padding: 0px;
    display: block;
    box-sizing: border-box;

    #ngl-container {
        height: 350px;
    }

    .ngl-controls {
        border-top: 1px solid $border-gray;
        padding: 1rem;
        background-color: $hover-color;
        flex-grow: 5;

        .ngl-control {

            display: flex;
            align-items: center;
            justify-content: center;


            .color-options {
                display: inline-flex;
                border: 1px solid #cccccc;
                justify-content: center;
                align-items: center;
                width: auto;
                margin-left: 0.5rem;

                input[type=radio] {
                    width: 30px;
                    height: 30px;
                    -webkit-appearance: none;
                    margin: 0px;
                    margin-left: -1px;
                    cursor: pointer;
                }

                input[type=radio]:checked {
                    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
                }
            }
        }
    }
}

#site-info {
    .site-info-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@mixin data--tablet() {
    .pdb-box {
        padding: 2 * $padding;
    }

    #site-info {
        .site-info-columns {
            grid-template-columns: 2fr 1fr;

            .site-info-column {
                text-align: center;
            }

            .site-info-column:first-child {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

        }
    }
}

@mixin data--laptop() {
    #pdb-ngl {
        display: flex;

        #ngl-container {
            width: 50rem;
        }

        .ngl-controls {
            border-left: 1px solid $border-gray;
            border-top: none;
        }
    }
}
