
#home-1 {
    background-color: $pale-purple;
    text-align: center;

    #site-description {
        padding: 3rem;
        margin-bottom: 4rem;

        h1 {
            margin-bottom: 4rem;
            font-size: 2.5em;
            line-height: 1.5;
            padding: 1rem;
            font-weight: bold;
            box-shadow: none;
            background-color: inherit;
        }

        p {
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 2;
        }
    }

    #site-search {
        display: flex;
        align-items: center;

        form {
            margin-bottom: 4rem;
            display: flex;
            height: 4.5rem;
            width: 90%;
            @include margin-side(auto);
            @include margin-side(5rem);

            input[type=text] {
                flex-grow: 5;
                border-radius: 0px;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border-right-width: 0px;
                box-sizing: border-box;
                display: inline;
                width: inherit;
            }

            input[type=submit] {
                border-radius: 0px;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                background-color: #4A9586;
                color: $white;
                border-color: #00640022;
                font-size: 0.8em;
                padding: 0px;
                padding-left: 0.8rem;
                padding-right: 0.8rem;
                display: inline;
            }
        }
    }
}


#home-2 {
    background-color: #ffffff;

    div {
        padding: 2.5 * $padding;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 2;
        }
    }

    #home-picture img {
        display: block;
        width: 90%;
        height: auto;
        @include margin-side(auto);
    }

}

.release {
    @include white-box;
    padding: $padding;
    margin-bottom: $padding;

    h2 {
        text-align: center;
        margin-bottom: $padding / 2;

        a {
            color: darken($hyperlink-blue, 10);
        }
    }

    .release-date {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: $padding * 1.5;
    }

    ul {
        list-style: square;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

.about-box {
    @include white-box;
    padding: 2 * $padding;
    text-align: center;

    p {
        line-height: 2;
        margin: 0px;
        margin-bottom: $padding;
    }
}

@mixin home--tablet() {

    .about-box {
        padding: 4 * $padding;
    }
}

@mixin home--laptop() {
    .about-box {
        padding-left: 6 * $padding;
        padding-right: 6 * $padding;
    }
}


@mixin home--desktop() {
    main {

        #site-description, #home-picture {
            box-sizing: border-box;
            width: $desktop-width / 2;
            margin-left: auto;
        }

        #site-search, #site-more-info {
            box-sizing: border-box;
            width: $desktop-width / 2;
            margin-right: auto;
        }
    }
}
