body {
    margin: 0px;
    font-family: Muli;
    background-color: #e6ecf0;
}

nav {
    background-color: #5c6877;
    color: #ffffff;
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
}

nav #logo {
    font-family: "Exo 2";
    font-size: 200%;
    padding-bottom: 4px;
    margin-left: 25px;
}

#logo a {
    color: inherit;
}

nav #mobile-menu {
    display: none;
}

nav #nav-links {
    display: flex;
    position: inherit;
    flex-grow: 5;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-right: 25px;
}

#nav-links a {
    display: inline;
    border: none;
    text-align: center;
    padding: 0px;
    font-size: 110%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: inherit;
    color: inherit;
}

@media only screen and (max-width: 568px) {

    nav #mobile-menu {
        flex-grow: 5;
        font-size: 170%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        margin-right: 25px;
    }

    #mobile-menu-icon {
        cursor: pointer;
    }

    nav #mobile-menu-icon div {
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        margin: 6px 0;
    }

    nav #nav-links {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        padding-top: 10px;
        background-color: inherit;
    }

    #nav-links a {
        display: block;
        text-align: center;
        font-size: 90%;
        padding: 12px;
        color: inherit;
        border-top: 1px solid #dddbef;
        margin-left: 50px;
        margin-right: 50px;
    }

}
