a {
    color: #0074D9;
    text-decoration: none;
}

h1, h2 {
    margin: 0px;
}

h1 {
    background-color: #f1ecf0;
    padding-left: 25px;
}

h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
}

.page-section {
    background-color: #ffffff;
    margin: 10px;
}

.info-row {
    margin-top: 20px;
    margin-bottom: 20px;
    display: table-row;
    line-height: 2.2;
}

.field, .field-value {
    display: table-cell;
}

.field {
    text-align: right;
    font-weight: bold;
    padding-left: 10px;
}

.field-value {
    padding-left: 10px;
    padding-right: 10px;
}
