main {
    font-size: 120%;
    padding: 0px;
}

h1 {
    background-color: inherit;
    padding: none;
    margin-bottom: 40px;
    box-shadow: none;
}

.home-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-row div {
    box-sizing: border-box;
    width: 512px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-1 {
    background-color: #f1ecf0;
}

#site-description {
    padding: 30px;
    text-align: center;
    margin-left: auto;
}

#site-description h1 {
    font-size: 250%;
    line-height: 1.5;
}

#site-description p {
    line-height: 2;
}

#site-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

#site-search form {
    height: 45px;
    display: flex;
    align-items: stretch;
    width: 80%;
    box-sizing: border-box;
}

#site-search form input {
    margin: 0px;
    -webkit-appearance: none;
    border: 1px solid #e6ecf0;
    font-size: 70%;
    padding: 20px;
    box-sizing: border-box;
}

#site-search form input[type=text] {
    flex-grow: 5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #444;
    border-right-width: 0px;
    box-sizing: border-box;
}

#site-search form input[type=submit] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4A9586;
    color: #ffffff;
    border-color: #00640022;
    font-size: 80%;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

@media only screen and (max-width: 1024px) {

    .home-row div {
        width: 100%;
    }

}


@media only screen and (max-width: 769px) {

    main {
        font-size: 110%;
    }

    .home-row {
        grid-template-columns: auto;
    }

    .home-row div {
        margin-top: 10px;
    }

    #site-description p {
        padding-left: 80px;
        padding-right: 80px;
    }

    #site-search form {
        margin-bottom: 40px;
        width: 100%;
        margin-left: 100px;
        margin-right: 100px;
    }


}

@media only screen and (max-width: 568px) {

    main {
        font-size: 100%;
    }

    #site-description p {
        padding-left: 40px;
        padding-right: 40px;
    }

    #site-search form {
        margin-bottom: 40px;
        margin-left: 50px;
        margin-right: 50px;
    }

}
